# Imports

In [2]:
import requests
import bs4
import json
import datetime as dt
import sys
import pandas as pd
import geopy
import geopandas as gpd
import re
import warnings
from shapely import wkt
from shapely.geometry import Point
import math
warnings.filterwarnings('ignore')

# Lisbon Properties for Sale - SUPERCASA Webscrapping

In [181]:
num_prop_per_page = 25
total_pages = 75
time_estimation = '3 to 5'

print(f'Time estimation for this task: {time_estimation} minutes.')
estimation = (dt.datetime.now() + dt.timedelta(minutes=4))
start = f'Tasks started at {dt.datetime.now().hour}h:{dt.datetime.now().minute}min. Estimated finish time {estimation.hour}h:{estimation.minute}min.'
print(start)

title, price, num_rooms, total_area, latitude, longitude, region, extras, id = ([] for i in range(9))

for n in range(1, 75):
    url = f'https://supercasa.pt/comprar-casas/lisboa/pagina-{n}'
    result = requests.get(url)
    soup = bs4.BeautifulSoup(result.text, 'lxml')

    # Find all properties on the current page
    properties = soup.find_all('div', class_='property big-picture') 

    for prop in properties:
        # Title
        a = prop.find('h2', class_='property-list-title').find('a')
        title.append(a.get_text().strip() if a else ' ')

        # Price
        span = prop.find('div', class_='property-price').find('span')
        price.append(span.get_text(strip=True) if span else ' ')

        # Features
        feature = prop.find('div', class_='property-features')
        spans = feature.find_all('span') if feature else []
        rooms = spans[0].get_text() if len(spans) > 0 else "Unknown"
        area = spans[1].get_text() if len(spans) > 1 else "Unknown"
        num_rooms.append(rooms)
        total_area.append(area)

        # Links for latitude and longitude
        link = prop.find('a', class_='property-link')
        latitude.append(link.get('data-latitude') if link else 'Unknown')
        longitude.append(link.get('data-longitude') if link else 'Unknown')

        # Extras
        highlight = prop.find('div', class_='property-highlights')
        if highlight:
            extra_spans = highlight.find_all('span')
            extras.append(', '.join([span.get_text(strip=True) for span in extra_spans]))
        else:
            extras.append(' ')

        # Address region from JSON-LD script if necessary
        script = prop.find('script', type='application/ld+json')
        if script:
            data = json.loads(script.string)
            if data.get('@type') == 'Offer':
                available_at_or_from = data.get('availableAtOrFrom', {})
                address_info = available_at_or_from.get('address', {})
                address_region = address_info.get('addressRegion', 'Not provided')
                region.append(address_region)
        else:
            region.append('Not provided')

        sys.stdout.write(f"\rProgress: {int((n / total_pages) * 100)}%")
        sys.stdout.flush()

for i in range(len(title)):
    id.append(i)

sys.stdout.write(f"\rProgress: 100%")
sys.stdout.flush()
print('\nCompleted!')

headers = ['id', 'title', 'price', 'num_rooms', 'total_area', 'latitude', 'longitude', 'region', 'extras']
final_data = [id, title, price, num_rooms, total_area, latitude, longitude, region, extras]
Lisbon_Properties = pd.DataFrame(dict(zip(headers, final_data)))

print(f"\nYou now have data on {len(Lisbon_Properties['id'])} properties located in Lisbon!")

Time estimation for this task: 3 to 5 minutes.
Tasks started at 21h:25min. Estimated finish time 21h:29min.
Progress: 100%
Completed!

You now have data on 1435 properties located in Lisbon!

In [182]:
# Lisbon_Properties.to_csv('Lisbon_Properties.csv')

In [93]:
Lisbon_Properties = pd.read_csv('Lisbon_Properties.csv', index_col=0)
Lisbon_Properties.head()

,id,title,price,num_rooms,total_area,latitude,longitude,region,extras
0,0,"Apartamento T2 em Alvalade, Lisboa",430.000 €,2 quartos,Área bruta 90 m²,"38,7457392","-9,1425898",Alvalade,
1,1,"Apartamento T1 em Benfica, Lisboa",269.900 €,1 quarto,Área bruta 97 m²,"38,75171","-9,2009",Benfica,
2,2,"Apartamento T3 na Rua António Nobre, São Domin...",399.900 €,3 quartos,Área bruta 120 m²,"38,74657","-9,17989",São Domingos de Benfica,
3,3,"Apartamento T2 na Rua de São Pedro Mártir, San...",285.000 €,2 quartos,Área bruta 55 m²,"38,71471","-9,13582",Santa Maria Maior,
4,4,"Apartamento T1 em Praça de Luís de Camões, Mis...",690.000 €,1 quarto,Área bruta 93 m²,"38,71078","-9,14385",Misericórdia,Com garagem

# Lisbon Properties for Sale - Data Preprocessing

## Fixing some issues

### Removing dulicated properties

In [94]:
Lisbon_Properties = Lisbon_Properties[~Lisbon_Properties.drop('id', axis=1).duplicated()]
Lisbon_Properties.reset_index(drop=True, inplace=True)

### Checking Data Quality

In [5]:
Lisbon_Properties['extras'].unique()

array([' ', 'Com garagem', 'De luxo, Com garagem',
       'Com elevador, Com garagem', 'Com elevador',
       'De luxo, Com elevador, Com garagem', 'Rés do chão',
       'De luxo, Piscina, Com elevador',
       'Piscina, Com elevador, Com garagem',
       'Vista para mar, Com elevador, Com garagem',
       'Piscina, Vista para mar, Com garagem', 'Piscina, Com elevador',
       'De luxo, Com elevador', 'Último andar, Com elevador, Com garagem',
       'De luxo, Piscina, Com garagem', 'Piscina, Com garagem',
       'Último andar', 'Rés do chão, Com elevador, Com garagem',
       'De luxo', 'Rés do chão, Com garagem', 'Piscina',
       'De luxo, Vista para mar, Com elevador, Com garagem',
       'Rés do chão, Com elevador',
       'De luxo, Piscina, Rés do chão, Com elevador, Com garagem',
       'De luxo, Rés do chão',
       'De luxo, Piscina, Com elevador, Com garagem',
       'De luxo, Vista para mar, Com garagem',
       'Piscina, Último andar, Com elevador, Com garagem',
       'De luxo, Piscina, Rés do chão', 'Vista para mar, Com elevador',
       'Piscina, Rés do chão', 'Último andar, Com elevador',
       'De luxo, Piscina',
       'De luxo, Piscina, Vista para mar, Com elevador',
       'Piscina, Vista para mar, Com elevador'], dtype=object)

In [186]:
Lisbon_Properties['latitude'].unique()

array(['38,7457392', '38,75171', '38,74657', '38,71471', '38,71078',
       '38,7234746455', '38,70794', '38,71101', '38,72401', '38,73108',
       '38,71019', '38,72411', '38,70935', '38,70762', '38,72141',
       '38,7321733', '38,70531', '38,7160237', '38,74253', '38,7410926',
       '38,75237', '38,7394789', '38,7116286', '38,7328921', '38,7061891',
       '38,71681', '38,6979033995', '38,71193', '38,72151', '38,77093',
       '38,70501', '38,7185', '38,7506416203', '38,70438', '38,74487',
       '38,7520552', '38,7363924', '38,73121', '38,71006', '38,76273',
       '38,7373789756', '38,76063', '38,7113638', '38,7553', '38,7388',
       '38,74727', '38,70786', '38,71779', '38,71995', '38,74677',
       '38,7146255468', '38,7383787875', '38,738144', '38,7620097658',
       '38,7112', '38,710654', '38,7103093', '38,72876', '38,74445',
       '38,75724', '38,71781', '38,7418702', '38,70627', '38,74049',
       '38,72869', '38,7585032405', '38,71064', '38,710789', '38,74341',
       '38,711166', '38,7062311', '38,7923917646', '38,75574', '38,71046',
       '38,72049', '38,71148', '38,70555', '38,7034734393', '38,7283527',
       '38,71699', '38,7097704', '38,71441', '38,7210536534', '38,74086',
       '38,73976', '38,76005', '38,7044', '38,7058842', '38,71729',
       '38,7156485', '38,7065609249', '38,7239477138', '38,7186352',
       '38,7686316', '38,7297982202', '38,7372473412', '38,7027256',
       '38,7143767', '38,7092483961', '38,71454765', '38,7098217291',
       '38,72124', '38,70986', '38,74742', '38,71601', '38,75761',
       '38,77184', '38,71335', '38,7545676242', '38,7381153802',
       '38,73938', '38,7149', '38,717688', '38,759571', '38,7108078',
       '38,7283874', '38,7613155209', '38,74422', '38,72278',
       '38,7503832', '38,7281213', '38,75579', '38,71041',
       '38,7208418761', '38,72775', '38,7127855', '38,7325284193',
       '38,7056727', '38,7382722', '38,7141936', '38,72771', '38,6964961',
       '38,7253576164', '38,7739', '38,7208495', '38,724879', '38,73293',
       '38,7047', '38,7133333', '38,719', '38,74172', '38,7043980151',
       '38,7166631', '38,74092', '38,711193', '38,71698', '38,734047',
       '38,7594', '38,7383456', '38,7235445', '38,73757', '38,76098',
       '38,75154', '38,7680205068', '38,71141', '38,7153546', '38,74312',
       '38,7199764', '38,71911', '38,7106646', '38,70608', '38,7170274',
       '38,7072621051', '38,781386', '38,7453', '38,74699', '38,74807',
       '38,77119', '38,69883', '38,717963145', '38,7193744427',
       '38,7106012', '38,72332', '38,70547', '38,74559', '38,70913',
       '38,7208489', '38,767152', '38,70179', '38,72817', '38,77262',
       '38,7419295018', '38,7616255', '38,709107', '38,7093', '38,70362',
       '38,7085283499', '38,71847', '38,7049487', '38,758247',
       '38,7281575', '38,7177917', '38,708004', '38,767822', '38,73559',
       '38,7141', '38,7100043', '38,7104303', '38,7022222',
       '38,7616513568', '38,7193774', '38,73155', '38,7214907',
       '38,718725', '38,710004', '38,7094416', '38,7273500622',
       '38,712848', '38,72737', '38,7247265981', '38,7615569428',
       '38,7546658', '38,7176412', '38,7254380628', '38,7104896',
       '38,6973433', '38,73338', '38,7178006', '38,710885', '38,72301',
       '38,7109855706', '38,706072', '38,7154897', '38,7290597',
       '38,73835', '38,7335649975', '38,72544', '38,7242', '38,73214',
       '38,707491', '38,7080344419', '38,6976323', '38,743916',
       '38,7616927', '38,7438838', '38,7432591', '38,69452', '38,76175',
       '38,749546', '38,75599', '38,74684', '38,72655', '38,7280137',
       '38,7505433454', '38,70978', '38,715598', '38,72577', '38,7616845',
       '38,71151', '38,73383', '38,7616174776', '38,7463655', '38,74525',
       '38,7615511583', '38,75118', '38,6944330246', '38,70619',
       '38,71051', '38,7430406', '38,7156090324', '38,74052', '38,74079',
       '38,7206496', '38,6984420834', '38,7108727', '38,7435997',
       '38,717289', '38,76824', '38,7176844', '38,7415352', '38,7298766',
       '38,7185488', '38,71433', '38,7172729', '38,710859528',
       '38,711501', '38,7388284', '38,709441', '38,7045084', '38,7318763',
       '38,71142', '38,7675904792', '38,7383455', '38,7055302',
       '38,72534', '38,7079', '38,7088408', '38,71128', '38,73914',
       '38,7178012', '38,718006', '38,7552458296', '38,710944',
       '38,74676', '38,7130936', '38,7097', '38,7442776', '38,7230482',
       '38,75276', '38,71947', '38,76241', '38,72145', '38,7254307044',
       '38,7029384', '38,730076', '38,74605', '38,7535516', '38,73951',
       '38,709934899', '38,7111501', '38,7273', '38,71149', '38,70462',
       '38,7108410239', '38,716594', '38,71098', '38,70581', '38,717168',
       '38,73068', '38,7831361', '38,72491', '38,70938', '38,7163',
       '38,71094', '38,7277', '38,7039446', '38,78083', '38,70294',
       '38,7276357', '38,71349', '38,75878', '38,7076372', '38,703756',
       '38,72281', '38,7178245', '38,71016', '38,7382560212',
       '38,7199505', '38,7173678', '38,7430519', '38,71561', '38,73',
       '38,7242542', '38,75451', '38,74383', '38,71243', '38,774804',
       '38,74597', '38,75368', '38,71145', '38,7490068066', '38,734148',
       '38,74761', '38,71996', '38,714607', '38,7410675', '38,702298',
       '38,7234', '38,75528', '38,734305666', '38,719224', '38,7165958',
       '38,73252', '38,71456', '38,70884', '38,71538', '38,7316458',
       '38,71728', '38,7266252', '38,72797', '38,7472436', '38,7231083',
       '38,7146900065', '38,73382', '38,7513188389', '38,72183',
       '38,7160226', '38,74469', '38,72198', '38,70998', '38,7696855099',
       '38,7039947561', '38,7253465767', '38,7265511', '38,70971',
       '38,7060583', '38,7107', '38,71953', '38,76375', '38,74354',
       '38,7092227', '38,74289', '38,7763688819', '38,75396', '38,736777',
       '38,765919553', '38,77265', '38,74574', '38,7197221', '38,7269857',
       '38,74743', '38,732374', '38,69697', '38,77316', '38,72582',
       '38,72985', '38,7463374', '38,707898', '38,710599', '38,71917',
       '38,74717', '38,71499', '38,737858', '38,76703', '38,73135',
       '38,7215584018', '38,78915', '38,7488151', '38,73956',
       '38,7253534313', '38,71385', '38,71325', '38,75342', '38,72479',
       '38,6994440803', '38,73992', '38,720537', '38,7353942041',
       '38,724218', '38,74649', '38,76144', '38,7616323', '38,71414',
       '38,7085055057', '38,715766', '38,7169174791', '38,74656',
       '38,73869', '38,753853', '38,71494', '38,7110094', '38,6971',
       '38,72076', '38,7071461', '38,7389', '38,7689579', '38,75337',
       '38,73226', '38,71119068', '38,70753', '38,72142', '38,72711',
       '38,7080986', '38,727697', '38,706299', '38,75385', '38,70912',
       '38,7495826553', '38,71457', '38,717047', '38,77583', '38,7215729',
       '38,74838', '38,7104779', '38,75466', '38,71333', '38,7738799',
       '38,723564', '38,7620412734', '38,75622', '38,71607', '38,749224',
       '38,7027875', '38,7165104', '38,7323818652', '38,7466202',
       '38,722179', '38,728157', '38,73165', '38,7232437', '38,7028423',
       '38,7201998428', '38,76787', '38,7045414', '38,7225575',
       '38,76561', '38,76028', '38,74466', '38,71803', '38,71357',
       '38,71944', '38,71746', '38,7443765', '38,7448996', '38,7469',
       '38,7195647', '38,7085924', '38,72963', '38,7699381', '38,7297483',
       '38,74006', '38,7160444', '38,73073', '38,710406', '38,71902',
       '38,7224162', '38,743249', '38,746367', '38,71534', '38,74482',
       '38,7178018', '38,7330339', '38,73341', '38,739348', '38,72422',
       '38,70598', '38,73462', '38,72533', '38,71762', '38,77435',
       '38,73221', '38,71435', '38,74259', '38,74368', '38,7222',
       '38,7899897872', '38,7124245', '38,6973611527', '38,71399',
       '38,7274426809', '38,75646', '38,732774', '38,71291', '38,71745',
       '38,7197992', '38,7335621477', '38,7555542', '38,70941',
       '38,7207992977', '38,70951', '38,72404', '38,7286519',
       '38,7101117', '38,7557817', '38,7096238', '38,73800739',
       '38,7114393', '38,6983555593', '38,7471021', '38,71667',
       '38,7121014', '38,7094499', '38,7149327764', '38,7250944',
       '38,73229', '38,7757146968', '38,70677', '38,7325588',
       '38,7075205', '38,6979942', '38,7371720224', '38,7534785',
       '38,70466', '38,71255', '38,73931', '38,7195025', '38,7158149',
       '38,71225', '38,7283088232', '38,71241', '38,6974656', '38,72733',
       '38,7749432165', '38,7096523452', '38,7128737', '38,7332',
       '38,7140547', '38,71059', '38,72717', '38,746399', '38,6978255',
       '38,7443599', '38,7258899', '38,7147199123', '38,7195377',
       '38,7743683', '38,76221', '38,71676', '38,7242159',
       '38,7124610893', '38,7101084', '38,7177011', '38,74128',
       '38,71843', '38,713214', '38,7028417', '38,7107296975',
       '38,7168344', '38,7364', '38,7119635', '38,764986', '38,731007',
       '38,7149439', '38,7060047', '38,7165459', '38,7685509',
       '38,7100523', '38,71262', '38,6976421503', '38,70916',
       '38,7447507927', '38,7336189', '38,70706', '38,72143', '38,76896',
       '38,7275', '38,75387', '38,73643625', '38,7143456373',
       '38,7123131', '38,7441', '38,6990894067', '38,71838', '38,731651',
       '38,74233', '38,7132153', '38,771861', '38,72552', '38,70519',
       '38,73016', '38,75624', '38,74485', '38,7136919', '38,709046',
       '38,72062', '38,7394948866', '38,7056001', '38,7252922',
       '38,7739933', '38,7103369', '38,7122315', '38,71198', '38,70064',
       '38,73543', '38,75286'], dtype=object)

In [187]:
Lisbon_Properties['longitude'].unique()

array(['-9,1425898', '-9,2009', '-9,17989', '-9,13582', '-9,14385',
       '-9,1581178942', '-9,14468', '-9,14865', '-9,14598', '-9,16051',
       '-9,13348', '-9,13463', '-9,15253', '-9,14239', '-9,13855',
       '-9,1350438', '-9,19939', '-9,1500739', '-9,13526', '-9,1471513',
       '-9,20599', '-9,1520223', '-9,2137529', '-9,1341885', '-9,1616014',
       '-9,12154', '-9,1952884197', '-9,14586', '-9,1595', '-9,09819',
       '-9,16721', '-9,16215', '-9,1987098542', '-9,16618', '-9,17992',
       '-9,2052859', '-9,1451395', '-9,13677', '-9,14999', '-9,17759',
       '-9,09786', '-9,1683963189', '-9,17393', '-9,1476538', '-9,18206',
       '-9,16836', '-9,10117', '-9,14405', '-9,12244', '-9,16478',
       '-9,169', '-9,1642905246', '-9,126318619', '-9,133503',
       '-9,1578005254', '-9,16114', '-9,207782', '-9,1339418096',
       '-9,149471', '-9,17845', '-9,14093', '-9,12247', '-9,158727',
       '-9,16753', '-9,150863', '-9,14937', '-9,0953688697', '-9,1353',
       '-9,1385962', '-9,102452', '-9,136115', '-9,2133735',
       '-9,153888224', '-9,17085', '-9,20848', '-9,14419', '-9,14068',
       '-9,16039', '-9,1835831989', '-9,1298246', '-9,12177', '-9,160889',
       '-9,12565', '-9,1644067698', '-9,13087', '-9,15466', '-9,17544',
       '-9,16629', '-9,1849423', '-9,12323', '-9,1650972',
       '-9,1481470246', '-9,134136906', '-9,1595857', '-9,095858',
       '-9,132510197', '-9,1591536999', '-9,2131016', '-9,2148966',
       '-9,1316074133', '-9,1535383608', '-9,1601263116', '-9,15419',
       '-9,15302', '-9,20622', '-9,1549', '-9,09583', '-9,17448',
       '-9,142', '-9,1969040908', '-9,1621423183', '-9,16342', '-9,15389',
       '-9,123875', '-9,137633', '-9,159079', '-9,162635',
       '-9,0978062153', '-9,15983', '-9,15807', '-9,1878395',
       '-9,1624887', '-9,13518', '-9,15435', '-9,1520897962', '-9,16444',
       '-9,1345458', '-9,1431106642', '-9,1691901', '-9,1572045',
       '-9,1632159', '-9,1459', '-9,2209667', '-9,1612404585', '-9,09766',
       '-9,1428263', '-9,1613115', '-9,13301', '-9,16312', '-9,1324902',
       '-9,16547', '-9,13746', '-9,1915756122', '-9,1549935', '-9,13368',
       '-9,1642307', '-9,15516', '-9,106066', '-9,18086', '-9,1674149',
       '-9,1436479', '-9,12431', '-9,17049', '-9,13106', '-9,1798788622',
       '-9,1921', '-9,1706945', '-9,20242', '-9,136906', '-9,16977',
       '-9,145354', '-9,18831', '-9,1607109', '-9,1441842914',
       '-9,1600377', '-9,15258', '-9,10128', '-9,20836', '-9,16055',
       '-9,19164', '-9,169549942', '-9,1333621856', '-9,1386489',
       '-9,132392', '-9,18075', '-9,17853', '-9,15278', '-9,1262942',
       '-9,097319', '-9,18122', '-9,13153', '-9,10381', '-9,1325676441',
       '-9,0974298', '-9,166792', '-9,14433', '-9,17891', '-9,193904671',
       '-9,129592', '-9,1707527', '-9,129844', '-9,1446399', '-9,1224923',
       '-9,158073', '-9,097943', '-9,15133', '-9,15037', '-9,136026',
       '-9,1483667', '-9,1757009', '-9,098379508', '-9,1238389',
       '-9,12878', '-9,1489660838', '-9,12478', '-9,1599073',
       '-9,1403086826', '-9,1264887', '-9,12606', '-9,1335761547',
       '-9,0983417528', '-9,1512158', '-9,1448919', '-9,1610713632',
       '-9,2077422', '-9,1988521', '-9,1174', '-9,1225126', '-9,21375',
       '-9,13139', '-9,1367679834', '-9,179217', '-9,1679303',
       '-9,1413156', '-9,16352', '-9,1304755211', '-9,14431', '-9,13578',
       '-9,13829', '-9,1407777', '-9,1452920437', '-9,2232361',
       '-9,20197', '-9,0973332', '-9,1611291', '-9,1776743', '-9,21772',
       '-9,17334', '-9,192056', '-9,13457', '-9,1410675', '-9,126289',
       '-9,14513', '-9,13506', '-9,1799737466', '-9,19379', '-9,132099',
       '-9,1268', '-9,0980778', '-9,19231', '-9,12943', '-9,0982584679',
       '-9,2058271', '-9,13827', '-9,0982289493', '-9,20819',
       '-9,2109203339', '-9,17364', '-9,20843', '-9,1295608',
       '-9,1326705219', '-9,14882', '-9,13098', '-9,1243871',
       '-9,1867176989', '-9,147001', '-9,1348541', '-9,119668',
       '-9,18508', '-9,125231', '-9,126168', '-9,1300448', '-9,1541898',
       '-9,13237', '-9,14609', '-9,1276921', '-9,1399693492', '-9,137461',
       '-9,1197415', '-9,159907', '-9,1643561', '-9,1269799', '-9,15765',
       '-9,1645563042', '-9,1686254', '-9,1725873', '-9,14625',
       '-9,14076', '-9,1486098', '-9,19281', '-9,10519', '-9,1224841',
       '-9,144335', '-9,1304229726', '-9,1501852', '-9,18096',
       '-9,1737682', '-9,19395', '-9,1598939', '-9,1313181', '-9,1451',
       '-9,19764', '-9,17223', '-9,13328', '-9,09747', '-9,13031',
       '-9,1601257576', '-9,1856746', '-9,161457', '-9,18298',
       '-9,2005814', '-9,15533', '-9,1466626525', '-9,1490905',
       '-9,14317', '-9,14153', '-9,20286', '-9,1936603266', '-9,165293',
       '-9,15376', '-9,16705', '-9,126775', '-9,16272', '-9,1625198',
       '-9,14772', '-9,13888', '-9,14358', '-9,16566', '-9,15908',
       '-9,1915804', '-9,09829', '-9,18567', '-9,1477463', '-9,12866',
       '-9,18577', '-9,1420456', '-9,190872', '-9,13147', '-9,1225052',
       '-9,15108', '-9,1682793056', '-9,1645782', '-9,155056',
       '-9,1396267', '-9,16516', '-9,14463', '-9,1553595', '-9,1985',
       '-9,14203', '-9,14568', '-9,114948', '-9,20766', '-9,19953',
       '-9,14186', '-9,12935', '-9,1415922745', '-9,128671', '-9,11301',
       '-9,1419', '-9,135921', '-9,1486551', '-9,205198', '-9,13369',
       '-9,12999', '-9,1359955072', '-9,1663869193', '-9,1446463',
       '-9,14237', '-9,14629', '-9,16086', '-9,14998', '-9,1375968',
       '-9,1682', '-9,1362894', '-9,1628', '-9,2061236', '-9,1379312',
       '-9,1341689229', '-9,14371', '-9,2031721016', '-9,11607',
       '-9,1437159', '-9,15834', '-9,15463', '-9,13432', '-9,0954500456',
       '-9,2020046711', '-9,1441903055', '-9,1615645', '-9,13532',
       '-9,1594081', '-9,20792', '-9,12084', '-9,17569', '-9,12749',
       '-9,14025', '-9,1371124', '-9,13151', '-9,1569328308', '-9,20066',
       '-9,15082', '-9,0987117405', '-9,17185', '-9,14256', '-9,1368962',
       '-9,133722', '-9,13407', '-9,139619', '-9,20259', '-9,15284',
       '-9,16885', '-9,151367', '-9,1342398', '-9,1660981', '-9,137421',
       '-9,12169', '-9,2062', '-9,14169', '-9,16764', '-9,11217',
       '-9,14097', '-9,1551867127', '-9,09865', '-9,1487613', '-9,14355',
       '-9,1612243652', '-9,12486', '-9,13688', '-9,19761', '-9,1557',
       '-9,2187738419', '-9,14298', '-9,145902', '-9,1347581232',
       '-9,1685774', '-9,17903', '-9,17103', '-9,0980088', '-9,15033',
       '-9,1606452803', '-9,172711', '-9,1258337459', '-9,20581',
       '-9,13386', '-9,1682288', '-9,14163', '-9,1495629', '-9,224246',
       '-9,16125', '-9,1463047', '-9,1067299', '-9,19813', '-9,12932',
       '-9,1926813126', '-9,17162', '-9,15712', '-9,12294', '-9,14671',
       '-9,1586927', '-9,146397', '-9,189044', '-9,19777', '-9,16602',
       '-9,1694732988', '-9,14909', '-9,1209197', '-9,16314',
       '-9,1608176', '-9,15066', '-9,1321315', '-9,198', '-9,14553',
       '-9,0975189', '-9,128812', '-9,1798848176', '-9,20379',
       '-9,140777', '-9,16383', '-9,198318', '-9,1965233', '-9,165631',
       '-9,1368850318', '-9,179847', '-9,11584', '-9,144639', '-9,12782',
       '-9,145675', '-9,196568', '-9,1714782445', '-9,093761',
       '-9,1949173', '-9,1347891', '-9,1128', '-9,12953', '-9,12184',
       '-9,13099', '-9,12414', '-9,11956', '-9,1787461', '-9,1840875',
       '-9,16871', '-9,1240101', '-9,1603831', '-9,14003', '-9,1712192',
       '-9,1633713', '-9,14737', '-9,1470691', '-9,13894', '-9,12879',
       '-9,1610652', '-9,141576', '-9,147699', '-9,14707', '-9,17841',
       '-9,1225117', '-9,1435864', '-9,13456', '-9,147464', '-9,1345992',
       '-9,16718', '-9,12821', '-9,16047', '-9,12208', '-9,10656',
       '-9,13286', '-9,12838', '-9,11357', '-9,14768', '-9,1549510366',
       '-9,146667528', '-9,1988587577', '-9,12526', '-9,1326025128',
       '-9,19775', '-9,145698', '-9,14511', '-9,11957', '-9,1522445',
       '-9,1358890513', '-9,1500818', '-9,13771', '-9,1242551454',
       '-9,16246', '-9,12819', '-9,14223', '-9,1368743', '-9,1493113',
       '-9,1495286', '-9,1497181', '-9,16624', '-9,1921009',
       '-9,2098796368', '-9,1858628', '-9,13336', '-9,1345094',
       '-9,1599061', '-9,1414833069', '-9,1602711', '-9,14209',
       '-9,1076739646', '-9,15055', '-9,1428531', '-9,1555982',
       '-9,208573', '-9,1687881947', '-9,1970569', '-9,182513',
       '-9,156075', '-9,16344', '-9,1378324', '-9,16162', '-9,1656040633',
       '-9,12886', '-9,1959751', '-9,19804', '-9,12204', '-9,1514829731',
       '-9,1497176886', '-9,1414957', '-9,139678', '-9,1253404',
       '-9,13731', '-9,14769', '-9,178838', '-9,1920959', '-9,1747119',
       '-9,1636308', '-9,1323592052', '-9,1378229', '-9,0975919',
       '-9,16891', '-9,13433', '-9,1305756', '-9,1345819831', '-9,149715',
       '-9,1220789', '-9,16167', '-9,1341', '-9,146674', '-9,1965708',
       '-9,1453750047', '-9,1202542', '-9,14742', '-9,1448633',
       '-9,117189', '-9,134493', '-9,1663102', '-9,159506', '-9,2148527',
       '-9,1624841', '-9,12793', '-9,1590861', '-9,15703',
       '-9,2094804644', '-9,16746', '-9,1175693564', '-9,130494',
       '-9,14357', '-9,13385', '-9,09696', '-9,14569', '-9,1995',
       '-9,1498249164', '-9,1307546249', '-9,161713', '-9,1676',
       '-9,1997170646', '-9,12089', '-9,131529', '-9,11346', '-9,1589987',
       '-9,1112884', '-9,16087', '-9,16737', '-9,17215', '-9,09637',
       '-9,17986', '-9,1467787', '-9,149531', '-9,16672', '-9,1326627016',
       '-9,1727457', '-9,1605018', '-9,0976502', '-9,1387878',
       '-9,1505347', '-9,15136', '-9,19306', '-9,14759', '-9,20801',
       '-9,13904'], dtype=object)

In [188]:
Lisbon_Properties['price'].unique()

array(['430.000 €', '269.900 €', '399.900 €', '285.000 €', '690.000 €',
       '3.950.000 €', '1.650.000 €', '1.800.000 €', '1.500.000 €',
       '2.200.000 €', '8.200.000 €', '375.000 €', '310.000 €',
       '2.450.000 €', '2.390.000 €', '250.000 €', '325.000 €',
       '320.000 €', '810.000 €', '1.470.000 €', '257.000 €', '495.000 €',
       '488.000 €', '490.000 €', '299.000 €', '1.400.000 €',
       '1.270.000 €', '825.000 €', '1.590.000 €', '758.000 €',
       '1.900.000 €', '615.000 €', '359.000 €', '950.000 €', '279.900 €',
       '339.000 €', '128.000 €', '318.000 €', '980.000 €', '3.750.000 €',
       '349.900 €', '995.000 €', '1.290.000 €', '1.700.000 €',
       '1.080.000 €', '1.495.000 €', '260.000 €', '775.000 €',
       '695.000 €', '1.563.840 €', '1.990.000 €', '1.507.200 €',
       '1.547.520 €', '1.850.000 €', '1.250.000 €', '1.536.000 €',
       '339.500 €', '1.682.000 €', '1.932.000 €', '429.900 €',
       '1.856.000 €', '1.737.000 €', '235.000 €', '560.000 €',
       '299.900 €', '255.000 €', '600.000 €', '921.000 €', '850.000 €',
       '795.000 €', '985.000 €', '915.000 €', '510.000 €', '699.000 €',
       '3.500.000 €', '215.000 €', '1.490.000 €', '550.000 €',
       '2.990.000 €', '419.900 €', '1.560.000 €', '229.000 €',
       '925.000 €', '790.000 €', '770.000 €', '1.350.000 €', '570.000 €',
       '1.285.000 €', '990.000 €', '170.000 €', '4.100.000 €',
       '275.000 €', '880.000 €', '319.000 €', '803.000 €', '7.000.000 €',
       '7.500.000 €', '1.695.000 €', '420.000 €', '1.180.000 €',
       '620.000 €', '589.000 €', '650.000 €', '640.000 €', '579.000 €',
       '1.975.000 €', '340.000 €', '998.000 €', '383.000 €', '835.000 €',
       '525.000 €', '330.000 €', '580.000 €', '590.000 €', '970.000 €',
       '1.149.000 €', '1.408.000 €', '832.000 €', '576.000 €',
       '568.400 €', '289.000 €', '350.000 €', '500.000 €', '425.000 €',
       '4.800.000 €', '1.445.000 €', '1.195.000 €', '1.170.000 €',
       '2.050.000 €', '670.000 €', '689.000 €', '1.150.000 €',
       '1.950.000 €', '399.000 €', '1.075.000 €', '1.038.000 €',
       '780.000 €', '884.000 €', '372.000 €', '1.575.000 €', '845.000 €',
       '800.000 €', '1.100.000 €', '2.375.000 €', '2.600.000 €',
       '2.255.000 €', '745.000 €', '313.000 €', '1.300.000 €',
       '199.000 €', '535.000 €', '885.000 €', '2.500.000 €', '477.500 €',
       '595.000 €', '540.000 €', '470.000 €', '480.000 €', '591.000 €',
       '380.000 €', '389.000 €', '940.000 €', '400.000 €', '530.000 €',
       '345.000 €', '169.000 €', '2.779.000 €', '750.000 €', '429.000 €',
       '575.000 €', '218.000 €', '3.000.000 €', '450.000 €', '799.000 €',
       '724.000 €', '198.000 €', '385.000 €', '840.000 €', '518.000 €',
       '755.000 €', '168.000 €', '773.000 €', '878.000 €', '1.060.000 €',
       '856.700 €', '903.000 €', '475.000 €', '2.300.000 €', '349.000 €',
       '295.000 €', '460.000 €', '1.065.000 €', '1.090.000 €',
       '300.000 €', '1.011.600 €', '703.000 €', '454.000 €', '240.000 €',
       '2.100.000 €', '606.500 €', '893.000 €', '467.000 €',
       '1.069.700 €', '219.000 €', '777.000 €', '1.594.000 €',
       '447.000 €', '284.500 €', '599.000 €', '715.000 €', '6.900.000 €',
       '265.000 €', '415.000 €', '969.000 €', '655.000 €', '1.120.000 €',
       '1.548.000 €', '740.000 €', '960.000 €', '828.000 €',
       '4.700.000 €', '499.000 €', '975.000 €', '2.090.000 €',
       '325.500 €', '866.400 €', '2.425.000 €', '772.000 €', '796.000 €',
       '473.000 €', '778.000 €', '466.000 €', '479.200 €', '636.500 €',
       '220.000 €', '712.000 €', '680.000 €', '1.070.000 €', '665.000 €',
       '1.050.300 €', '675.000 €', '4.850.000 €', '682.000 €',
       '505.000 €', '224.000 €', '595.500 €', '837.400 €', '2.695.000 €',
       '200.000 €', '366.000 €', '410.000 €', '2.025.000 €', '760.000 €',
       '1.237.000 €', '2.975.000 €', '860.000 €', '437.000 €',
       '335.000 €', '890.000 €', '179.900 €', '1.320.000 €', '149.900 €',
       '315.000 €', '830.000 €', '895.000 €', '529.000 €', '5.000.000 €',
       '280.000 €', '865.000 €', '3.225.000 €', '710.000 €', '238.000 €',
       '5.900.000 €', '999.500 €', '185.000 €', '2.940.000 €',
       '1.040.000 €', '290.000 €', '1.375.000 €', '370.000 €',
       '2.000.000 €', '270.000 €', '888.888 €', '1.050.000 €',
       '179.000 €', '395.000 €', '474.000 €', '2.735.040 €',
       '3.300.000 €', '720.000 €', '1.200.000 €', '459.900 €',
       '210.000 €', '379.000 €', '279.000 €', '1.550.000 €', '512.000 €',
       '397.500 €', '875.000 €', '369.000 €', '927.000 €', '870.000 €',
       '217.500 €', '1.925.000 €', '154.900 €', '405.000 €', '359.500 €',
       '4.200.000 €', '5.800.000 €', '427.000 €', '489.900 €',
       '660.000 €', '2.250.000 €', '266.000 €', '549.900 €',
       '1.595.000 €', '305.000 €', '1.325.000 €', '485.000 €',
       '1.390.000 €', '698.000 €', '2.800.000 €', '299.500 €',
       '1.367.000 €', '700.000 €', '815.000 €', '1.000.000 €',
       '289.900 €', '449.000 €', '242.500 €', '1.440.000 €', '735.000 €',
       '587.000 €', '945.000 €', '935.000 €', '1.750.000 €', '295.900 €',
       '1.245.000 €', '390.000 €', '371.500 €', '1.002.000 €',
       '1.095.000 €', '435.000 €', '545.000 €', '759.000 €',
       '1.498.500 €', '403.000 €', '635.000 €', '555.000 €',
       '3.210.000 €', '855.000 €', '360.000 €', '855.545 €', '730.000 €',
       '630.000 €', '190.000 €', '918.000 €', '3.100.000 €',
       '2.150.000 €', '730.200 €', '685.000 €', '455.000 €',
       '2.775.000 €', '232.500 €', '175.000 €', '3.050.000 €',
       '905.000 €', '5.307.500 €', '460.100 €', '138.000 €',
       '2.950.000 €', '1.208.000 €', '1.720.000 €', '700.500 €',
       '498.000 €', '1.420.000 €', '1.383.000 €', '1.166.000 €',
       '119.000 €', '284.000 €', '1.066.000 €', '479.000 €', '115.000 €',
       '329.900 €', '1.142.000 €', '820.000 €', '2.125.000 €',
       '1.277.000 €', '341.000 €', '351.000 €', '920.000 €',
       '1.210.000 €', '365.000 €', '3.800.000 €', '187.000 €',
       '1.349.000 €', '348.000 €', '714.000 €', '1.015.000 €',
       '1.260.000 €', '900.000 €', '716.000 €', '851.000 €', '569.000 €',
       '3.480.000 €', '263.000 €', '1.023.000 €', '279.500 €',
       '1.102.500 €', '396.500 €', '165.000 €', '1.412.500 €',
       '278.000 €', '684.370 €', '2.490.000 €', '1.230.000 €',
       '1.263.000 €', '909.000 €', '327.000 €', '725.000 €', '508.250 €',
       '149.500 €', '230.000 €', '520.000 €', '344.000 €', '1.540.000 €',
       '923.000 €', '298.000 €', '1.790.000 €', '676.000 €', '785.000 €',
       '245.000 €', '705.000 €', '749.900 €', '296.000 €', '1.160.000 €',
       '949.000 €'], dtype=object)

In [189]:
Lisbon_Properties['num_rooms'].value_counts()

num_rooms
2 quartos                   445
1 quarto                    320
3 quartos                   281
4 quartos                   149
5 quartos                    28
9 quartos                    12
Área bruta 63 m²              9
6 quartos                     7
7 quartos                     6
Área bruta 46 m²              4
Área bruta 41 m²              4
Área bruta 30 m²              3
Área bruta 60 m²              3
Área útil 63 m²               3
Área bruta 51 m²              3
Área bruta 33 m²              3
8 quartos                     2
C.E.: D                       2
Área bruta 50 m²              2
Área bruta 38 m²              2
Área bruta 39 m²              2
10 quartos                    2
Área bruta 25 m²              2
Área bruta 37 m²              2
C.E.: G                       1
Área útil 45 m²               1
Área bruta 31 m²              1
Área bruta 484 m²             1
Área útil 118 m²              1
Área bruta 55 m²              1
Área bruta 40 m²              1
11 quartos                    1
Área útil 41 m²               1
Área bruta 18 m²              1
Área bruta 68 m²              1
Área bruta 64 m²              1
C.E.: Propriedade isenta      1
Área útil 26 m²               1
Área útil 40 m²               1
C.E.: A+                      1
Área bruta 52 m²              1
Área útil 38 m²               1
C.E.: C                       1
Área bruta 28 m²              1
Área bruta 48 m²              1
Área bruta 57 m²              1
Área bruta 35 m²              1
Área bruta 72 m²              1
Área bruta 56 m²              1
Área bruta 159 m²             1
Área bruta 502 m²             1
Área bruta 86 m²              1
Área bruta 78 m²              1
Área bruta 70 m²              1
Área bruta 320 m²             1
C.E.: Avaliação em curso      1
Área útil 20 m²               1
Área bruta 36 m²              1
Área bruta 32 m²              1
Name: count, dtype: int64

In [190]:
Lisbon_Properties['total_area'].unique()

array(['Área bruta 90 m²', 'Área bruta 97 m²', 'Área bruta 120 m²',
       'Área bruta 55 m²', 'Área bruta 93 m²', 'Área bruta 416 m²',
       'Área útil 233 m²', 'Área bruta 234 m²', 'Área bruta 290 m²',
       'Área bruta 336 m²', 'Área bruta 874 m²', 'Área bruta 60 m²',
       'Área bruta 264 m²', 'Área bruta 262 m²', 'Área útil 88 m²',
       'Área bruta 48 m²', 'Área bruta 68 m²', 'Área bruta 150 m²',
       'Área bruta 228 m²', 'Unknown', 'Área bruta 70 m²',
       'Área bruta 102 m²', 'Área bruta 119 m²', 'Área bruta 230 m²',
       'Área bruta 180 m²', 'Área bruta 134 m²', 'Área bruta 130 m²',
       'Área bruta 138 m²', 'Área bruta 160 m²', 'Área bruta 74 m²',
       'Área bruta 110 m²', 'Área bruta 49 m²', 'Área bruta 302 m²',
       'Área bruta 54 m²', 'C.E.: D', 'Área bruta 85 m²',
       'Área bruta 198 m²', 'Área bruta 76 m²', 'C.E.: A',
       'Área bruta 67 m²', 'Área bruta 168 m²', 'Área bruta 426 m²',
       'Área bruta 44 m²', 'Área bruta 191 m²', 'Área útil 140 m²',
       'Área útil 139 m²', 'Área bruta 259 m²', 'Área bruta 77 m²',
       'Área bruta 43 m²', 'Área bruta 65 m²', 'Área bruta 286 m²',
       'Área bruta 186 m²', 'Área bruta 133 m²', 'Área útil 182 m²',
       'Área bruta 245 m²', 'Área útil 186 m²', 'Área bruta 281 m²',
       'Área bruta 158 m²', 'Área útil 198 m²', 'Área bruta 214 m²',
       'Área bruta 87 m²', 'Área útil 184 m²', 'Área bruta 63 m²',
       'Área bruta 79 m²', 'Área bruta 118 m²', 'Área bruta 80 m²',
       'Área bruta 56 m²', 'Área bruta 131 m²', 'Área bruta 91 m²',
       'Área bruta 301 m²', 'Área bruta 250 m²', 'Área bruta 116 m²',
       'Área bruta 101 m²', 'Área bruta 112 m²', 'Área bruta 626 m²',
       'Área bruta 115 m²', 'Área útil 115 m²', 'Área bruta 318 m²',
       'Área bruta 47 m²', 'Área útil 261 m²', 'Área bruta 58 m²',
       'Área bruta 161 m²', 'Área bruta 103 m²', 'Área bruta 148 m²',
       'Área bruta 92 m²', 'Área bruta 105 m²', 'Área bruta 181 m²',
       'Área bruta 156 m²', 'Área bruta 33 m²', 'Área bruta 423 m²',
       'Área bruta 282 m²', 'Área bruta 88 m²', 'Área bruta 34 m²',
       'Área bruta 135 m²', 'Área bruta 71 m²', 'Área bruta 600 m²',
       'Área bruta 3.527 m²', 'Área útil 172 m²', 'C.E.: C',
       'Área bruta 62 m²', 'Área bruta 111 m²', 'Área bruta 175 m²',
       'Área bruta 104 m²', 'Área bruta 169 m²', 'Área bruta 177 m²',
       'Área bruta 279 m²', 'Área bruta 106 m²', 'Área bruta 108 m²',
       'Área bruta 149 m²', 'Área bruta 145 m²', 'Área bruta 172 m²',
       'Área bruta 114 m²', 'Área bruta 136 m²', 'Área útil 135 m²',
       'Área bruta 284 m²', 'Área bruta 83 m²', 'Área bruta 50 m²',
       'Área bruta 137 m²', 'Área bruta 75 m²', 'Área útil 130 m²',
       'C.E.: B-', 'Área útil 552 m²', 'Área bruta 299 m²',
       'Área útil 142 m²', 'Área bruta 215 m²', 'Área bruta 193 m²',
       'Área bruta 219 m²', 'Área bruta 192 m²', 'Área útil 64 m²',
       'Área bruta 52 m²', 'Área bruta 310 m²', 'Área útil 125 m²',
       'Área útil 118 m²', 'Área bruta 326 m²', 'Área bruta 287 m²',
       'Área bruta 255 m²', 'Área bruta 320 m²', 'Área bruta 142 m²',
       'Área bruta 73 m²', 'Área bruta 42 m²', 'Área bruta 182 m²',
       'Área bruta 552 m²', 'Área útil 136 m²', 'Área bruta 35 m²',
       'Área bruta 184 m²', 'Área bruta 30 m²', 'Área bruta 94 m²',
       'Área bruta 207 m²', 'Área bruta 117 m²', 'Área bruta 154 m²',
       'Área bruta 100 m²', 'Área bruta 122 m²', 'Área útil 52 m²',
       'Área útil 58 m²', 'Área bruta 352 m²', 'Área bruta 244 m²',
       'Área bruta 78 m²', 'C.E.: E', 'Área bruta 89 m²',
       'Área bruta 53 m²', 'Área útil 70 m²', 'Área bruta 64 m²',
       'Área bruta 121 m²', 'Área bruta 38 m²', 'Área bruta 153 m²',
       'Área bruta 144 m²', 'Área bruta 109 m²', 'Área bruta 95 m²',
       'Área bruta 146 m²', 'Área bruta 69 m²', 'Área bruta 46 m²',
       'Área bruta 147 m²', 'Área bruta 204 m²', 'Área bruta 151 m²',
       'Área bruta 289 m²', 'Área bruta 240 m²',
       'C.E.: Propriedade isenta', 'Área bruta 82 m²', 'Área bruta 51 m²',
       'Área bruta 166 m²', 'Área bruta 72 m²', 'Área bruta 934 m²',
       'Área bruta 857 m²', 'Área bruta 40 m²', 'Área bruta 224 m²',
       'Área bruta 333 m²', 'Área bruta 278 m²', 'Área bruta 385 m²',
       'Área bruta 113 m²', 'Área bruta 129 m²', 'Área bruta 143 m²',
       'Área bruta 59 m²', 'Área bruta 81 m²', 'Área bruta 66 m²',
       'Área bruta 125 m²', 'Área bruta 174 m²', 'Área útil 48 m²',
       'Área bruta 162 m²', 'Área bruta 84 m²', 'Área bruta 41 m²',
       'Área bruta 276 m²', 'Área bruta 45 m²', 'Área bruta 123 m²',
       'Área bruta 238 m²', 'C.E.: B', 'Área útil 226 m²',
       'Área bruta 28 m²', 'Área bruta 179 m²', 'Área bruta 422 m²',
       'Área bruta 31 m²', 'Área bruta 346 m²', 'Área bruta 473 m²',
       'Área bruta 140 m²', 'Área bruta 335 m²', 'Área bruta 232 m²',
       'Área bruta 139 m²', 'Área bruta 107 m²', 'Área útil 37 m²',
       'Área bruta 634 m²', 'Área bruta 559 m²', 'Área bruta 269 m²',
       'C.E.: Avaliação em curso', 'Área útil 45 m²', 'Área bruta 165 m²',
       'Área bruta 163 m²', 'Área bruta 124 m²', 'Área bruta 231 m²',
       'Área bruta 164 m²', 'Área bruta 96 m²', 'Área útil 109 m²',
       'Área bruta 141 m²', 'Área bruta 213 m²', 'Área útil 50 m²',
       'Área bruta 242 m²', 'Área bruta 98 m²', 'Área bruta 183 m²',
       'Área bruta 127 m²', 'Área útil 318 m²', 'Área útil 80 m²',
       'Área bruta 685 m²', 'Área bruta 132 m²', 'Área bruta 315 m²',
       'Área útil 67 m²', 'Área bruta 167 m²', 'Área bruta 99 m²',
       'Área útil 47 m²', 'Área bruta 196 m²', 'Área útil 41 m²',
       'Área bruta 509 m²', 'Área bruta 221 m²', 'Área útil 71 m²',
       'Área útil 79 m²', 'Área bruta 86 m²', 'Área bruta 249 m²',
       'C.E.: F', 'Área bruta 188 m²', 'Área útil 331 m²',
       'Área bruta 126 m²', 'Área bruta 1.196 m²', 'Área bruta 203 m²',
       'Área útil 60 m²', 'Área bruta 254 m²', 'Área bruta 199 m²',
       'Área útil 75 m²', 'Área útil 152 m²', 'Área bruta 171 m²',
       'Área útil 72 m²', 'Área bruta 185 m²', 'Área bruta 152 m²',
       'Área bruta 61 m²', 'Área bruta 209 m²', 'Área útil 51 m²',
       'Área bruta 261 m²', 'Área bruta 478 m²', 'Área útil 55 m²',
       'Área bruta 57 m²', 'Área útil 123 m²', 'Área útil 92 m²',
       'Área bruta 220 m²', 'Área bruta 211 m²', 'Área útil 59 m²',
       'Área útil 63 m²', 'Área útil 68 m²', 'Área útil 65 m²',
       'Área bruta 225 m²', 'Área útil 111 m²', 'Área útil 180 m²',
       'Área útil 90 m²', 'Área útil 107 m²', 'Terreno 1.452 m²',
       'Área útil 61 m²', 'Área útil 110 m²', 'Área bruta 270 m²',
       'Área bruta 159 m²', 'Área útil 49 m²', 'Área bruta 170 m²',
       'Área útil 112 m²', 'Área bruta 173 m²', 'Área útil 131 m²',
       'Área bruta 12 m²', 'Área útil 62 m²', 'Área bruta 500 m²',
       'Área útil 89 m²', 'Área útil 103 m²', 'Área útil 30 m²',
       'Área útil 200 m²', 'Área útil 128 m²', 'Área útil 132 m²',
       'Área bruta 303 m²', 'Área bruta 340 m²', 'Área bruta 295 m²',
       'Área bruta 155 m²', 'Área útil 84 m²', 'Área bruta 323 m²',
       'Área útil 81 m²', 'Área bruta 39 m²', 'Área bruta 253 m²',
       'Área útil 74 m²', 'Área útil 284 m²', 'Área útil 230 m²',
       'Área útil 91 m²', 'Área útil 69 m²', 'Área útil 93 m²',
       'Área útil 44 m²'], dtype=object)

In [191]:
Lisbon_Properties['title'].unique()

array(['Apartamento T2 em Alvalade, Lisboa',
       'Apartamento T1 em Benfica, Lisboa',
       'Apartamento T3 na Rua António Nobre, São Domingos de Benfica, Lisboa',
       'Apartamento T2 na Rua de São Pedro Mártir, Santa Maria Maior, Lisboa',
       'Apartamento T1 em Praça de Luís de Camões, Misericórdia, Lisboa',
       'Apartamento T5 na Rua Sousa Pinto, Santo António, Lisboa',
       'Apartamento T4+1 na Rua de São Paulo, Misericórdia, Lisboa',
       'Apartamento T2+1 em Calçada do Combro, Misericórdia, Lisboa',
       'Apartamento T9 na Rua de Santa Marta, Santo António, Lisboa',
       'Apartamento T5 na Avenida Miguel Torga, Campolide, Lisboa',
       'Moradia T5 na Rua das Pedras Negras, Santa Maria Maior, Lisboa',
       'Apartamento T4 em Arroios, Lisboa',
       'Apartamento T1+1 na Rua da Silva, Misericórdia, Lisboa',
       'Apartamento T3 na Rua do Ferragial, Misericórdia, Lisboa',
       'Moradia T4+1 em Largo do Mastro, Arroios, Lisboa',
       'Apartamento T2+1 em Arroios, Lisboa',
       'Apartamento T2 Duplex em Calçada da Ajuda, Ajuda, Lisboa',
       'Apartamento T1+2 na Rua Cecílio de Sousa, Misericórdia, Lisboa',
       'Apartamento T6 na Avenida João XXI, Areeiro, Lisboa',
       'Apartamento T5 em Avenidas Novas, Lisboa',
       'Apartamento em Estrada de Benfica, Benfica, Lisboa',
       'Apartamento T2 na Avenida de Berna, Avenidas Novas, Lisboa',
       'Apartamento T2 na Rua Gregório Lopes, Belém, Lisboa',
       'Apartamento T3 em Arroios, Lisboa',
       'Apartamento T2 Duplex em Estrela, Lisboa',
       'Apartamento T2 na Rua do Mirante, São Vicente, Lisboa',
       'Moradia T3 Triplex em Belém, Lisboa',
       'Apartamento T3 Duplex na Rua Luz Soriano, Misericórdia, Lisboa',
       'Apartamento T4 em Campo de Ourique, Lisboa',
       'Apartamento T3 em Parque das Nações, Lisboa',
       'Apartamento T2 na Rua Luz Soriano, Misericórdia, Lisboa',
       'Apartamento T3 na Rua Joaquim Casimiro, Estrela, Lisboa',
       'Apartamento T2 na Rua Silva Carvalho, Campo de Ourique, Lisboa',
       'Apartamento T3 em Benfica, Lisboa',
       'Apartamento T2 na Rua Presidente Arriaga, Estrela, Lisboa',
       'Apartamento T1 em Estrada de Benfica, São Domingos de Benfica, Lisboa',
       'Apartamento T1 em Estrada de Benfica, Benfica, Lisboa',
       'Apartamento T7 em Avenidas Novas, Lisboa',
       'Apartamento T1 na Rua Passos Manuel, Arroios, Lisboa',
       'Apartamento T0 em Travessa do Terreiro de Santa Catarina, Misericórdia, Lisboa',
       'Apartamento T2 em Largo Conde de Ottolini, São Domingos de Benfica, Lisboa',
       'Apartamento T2 na Rua António Nobre, São Domingos de Benfica, Lisboa',
       'Apartamento T4 em Campolide, Lisboa',
       'Apartamento T3 em Lumiar, Lisboa',
       'Moradia T6 em Misericórdia, Lisboa',
       'Apartamento T1 na Rua dos Arneiros, Benfica, Lisboa',
       'Penthouse T3+1 na Rua José Maria Nicolau, São Domingos de Benfica, Lisboa',
       'Apartamento T3 em Campolide, Lisboa',
       'Apartamento T3 na Rua Telhal Olivais, Marvila, Lisboa',
       'Apartamento T4 em Largo dos Stephens, Misericórdia, Lisboa',
       'Apartamento T2 na Rua do Vale de Santo António, São Vicente, Lisboa',
       'Apartamento T1 na Rua do Quatro de Infantaria, Campo de Ourique, Lisboa',
       'Apartamento T2 na Rua das Laranjeiras, São Domingos de Benfica, Lisboa',
       'Moradia T4 em Campo de Ourique, Lisboa',
       'Apartamento T3+1 em Praça Francisco Sá Carneiro, Areeiro, Lisboa',
       'Apartamento T3 em Areeiro, Lisboa',
       'Apartamento T4 em Lumiar, Lisboa',
       'Apartamento T3 Triplex na Rua de Buenos Aires, Estrela, Lisboa',
       'Apartamento T4 na Rua Dom Jorge da Costa, Belém, Lisboa',
       'Apartamento T3 em Santa Maria Maior, Lisboa',
       'Apartamento T4 em Avenidas Novas, Lisboa',
       'Apartamento T3 na Rua Francisco Pereira de Sousa, São Domingos de Benfica, Lisboa',
       'Apartamento T1 na Rua João Saraiva, Alvalade, Lisboa',
       'Apartamento T1 na Rua do Vale de Santo António, São Vicente, Lisboa',
       'Apartamento T4 na Rua Francisco Pereira de Sousa, São Domingos de Benfica, Lisboa',
       'Apartamento T3 na Rua Mário Castelhano, Avenidas Novas, Lisboa',
       'Apartamento T1 na Avenida Infante Santo, Estrela, Lisboa',
       'Apartamento T3 em Avenidas Novas, Lisboa',
       'Apartamento T2 na Avenida António Augusto de Aguiar, Avenidas Novas, Lisboa',
       'Penthouse T4 na Rua Nova dos Mercadores, Parque das Nações, Lisboa',
       'Apartamento T7 em Santa Maria Maior, Lisboa',
       'Apartamento T2 na Avenida Infante Santo, Estrela, Lisboa',
       'Apartamento T1 na Rua Pereira Henriques, Marvila, Lisboa',
       'Moradia T5+2 em Belém, Lisboa',
       'Apartamento T3 em Santa Clara, Lisboa',
       'Apartamento T3 em São Domingos de Benfica, Lisboa',
       'Apartamento T2 em Santo António, Lisboa',
       'Apartamento T4 em Santa Maria Maior, Lisboa',
       'Apartamento T2+1 em São Domingos de Benfica, Lisboa',
       'Apartamento T5+1 em Estrela, Lisboa',
       'Apartamento T2 em Alcântara, Lisboa',
       'Apartamento T2 em Penha de França, Lisboa',
       'Apartamento T2 em Beco do Mirante, São Vicente, Lisboa',
       'Apartamento T2 em Estrela, Lisboa',
       'Apartamento T2 em Parque das Nações, Lisboa',
       'Apartamento T2 em Campo de Santa Clara, São Vicente, Lisboa',
       'Apartamento T3 na Avenida Infante Santo, Estrela, Lisboa',
       'Apartamento T2 em Campo de Ourique, Lisboa',
       'Apartamento T5 na Rua Barão de Sabrosa, Areeiro, Lisboa',
       'Penthouse T2 na Rua da Beneficência, Avenidas Novas, Lisboa',
       'Apartamento T2 na Rua Fernando Namora, Lumiar, Lisboa',
       'Apartamento T3 em Estrela, Lisboa',
       'Apartamento T3 Duplex em Calçada da Tapada, Alcântara, Lisboa',
       'Apartamento T1 em São Vicente, Lisboa',
       'Penthouse T4 Duplex na Avenida 24 de Julho, Misericórdia, Lisboa',
       'Apartamento T1 em Campo de Ourique, Lisboa',
       'Apartamento T4 em Parque das Nações, Lisboa',
       'Apartamento T2 na Avenida dos Combatentes, Avenidas Novas, Lisboa',
       'Moradia T7 em Belém, Lisboa',
       'Quinta T9 Triplex na Rua Sam Levy, Belém, Lisboa',
       'Apartamento T0 em Travessa do Almargem, Santa Maria Maior, Lisboa',
       'Apartamento T3 Duplex na Rua António Nobre, São Domingos de Benfica, Lisboa',
       'Apartamento T1 na Rua de São Bento, Estrela, Lisboa',
       'Apartamento T1 na Rua de São Filipe Néri, Santo António, Lisboa',
       'Apartamento T1 na Avenida Dom Carlos I, Misericórdia, Lisboa',
       'Apartamento T4 na Rua Engenheiro Nobre Guedes, Benfica, Lisboa',
       'Apartamento T2 Duplex na Rua de São Bento, Misericórdia, Lisboa',
       'Apartamento T3 em Estrada do Paço do Lumiar, Carnide, Lisboa',
       'Apartamento T3+1 na Rua da Condessa, Santa Maria Maior, Lisboa',
       'Apartamento T2 em Campolide, Lisboa',
       'Apartamento T3 na Rua Basílio Teles, São Domingos de Benfica, Lisboa',
       'Apartamento T2 na Rua da Beneficência, Avenidas Novas, Lisboa',
       'Apartamento T2 em São Vicente, Lisboa',
       'Apartamento T3 em Alvalade, Lisboa',
       'Apartamento T2 Duplex na Rua António Nobre, São Domingos de Benfica, Lisboa',
       'Apartamento T4 em Estrela, Lisboa',
       'Apartamento T1+1 em São Domingos de Benfica, Lisboa',
       'Apartamento T2 na Rua Dom Carlos de Mascarenhas, Campolide, Lisboa',
       'Apartamento T2 na Rua das Amoreiras, Santo António, Lisboa',
       'Apartamento T1 em São Domingos de Benfica, Lisboa',
       'Apartamento T0 em Campolide, Lisboa',
       'Apartamento T3 na Rua Professor Veiga Beirão, Alvalade, Lisboa',
       'Apartamento T2 na Rua Conde das Antas, Campolide, Lisboa',
       'Apartamento T0 em Santa Maria Maior, Lisboa',
       'Apartamento T4 Duplex na Rua Pereira Henriques, Marvila, Lisboa',
       'Apartamento T2 em Arroios, Lisboa',
       'Moradia T4 na Rua Antonino e Sá, Campolide, Lisboa',
       'Apartamento T1 em Santa Maria Maior, Lisboa',
       'Apartamento T1 na Rua do Jardim À Estrela, Estrela, Lisboa',
       'Apartamento T3 em Belém, Lisboa',
       'Apartamento T1 em Parque das Nações, Lisboa',
       'Apartamento T3 Duplex em Santo António, Lisboa',
       'Apartamento T4 na Rua José Falcão, Arroios, Lisboa',
       'Apartamento T1+1 em Estrela, Lisboa',
       'Apartamento T4 Duplex na Rua de Santa Cruz do Castelo, Santa Maria Maior, Lisboa',
       'Apartamento T4 em Areeiro, Lisboa',
       'Apartamento T1 em Largo do Rio Seco, Ajuda, Lisboa',
       'Apartamento T1 em Arroios, Lisboa',
       'Apartamento T6 em Areeiro, Lisboa',
       'Apartamento T2+1 Duplex em Estrela, Lisboa',
       'Apartamento T3 na Rua Pereira Henriques, Marvila, Lisboa',
       'Apartamento T4+3 em Campo de Ourique, Lisboa',
       'Apartamento T1 em Beato, Lisboa',
       'Apartamento T3 em Carnide, Lisboa',
       'Apartamento T5 na Rua de Campolide, Campolide, Lisboa',
       'Apartamento T4+1 Duplex em Santo António, Lisboa',
       'Apartamento T1 em Calçada da Picheleira, Beato, Lisboa',
       'Apartamento T3 na Rua Professor João Barreira, Lumiar, Lisboa',
       'Apartamento T2 na Rua Pereira Henriques, Marvila, Lisboa',
       'Moradia T7 Triplex na Avenida Almirante Gago Coutinho, Alvalade, Lisboa',
       'Moradia T9 em Ajuda, Lisboa',
       'Moradia T3 Triplex na Rua do Bom Pastor, Benfica, Lisboa',
       'Apartamento T1 em Misericórdia, Lisboa',
       'Apartamento T2 na Rua do Cruzeiro, Alcântara, Lisboa',
       'Apartamento T2+1 na Rua Francisco Pereira de Sousa, São Domingos de Benfica, Lisboa',
       'Apartamento T3 em Campo de Ourique, Lisboa',
       'Apartamento T5 na Rua de São Paulo, Misericórdia, Lisboa',
       'Apartamento T0+1 em Avenidas Novas, Lisboa',
       'Apartamento T1 em Marvila, Lisboa',
       'Moradia T3 Triplex em Benfica, Lisboa',
       'Apartamento T4 Duplex em Avenidas Novas, Lisboa',
       'Apartamento T2 em Lumiar, Lisboa',
       "Apartamento T1+1 na Rua Alexandre O'Neill, Alcântara, Lisboa",
       'Apartamento T2 na Rua Sampaio Bruno, Campo de Ourique, Lisboa',
       'Apartamento T2 na Rua Áurea, Santa Maria Maior, Lisboa',
       'Apartamento T1 na Avenida Duque de Loulé, Arroios, Lisboa',
       'Apartamento T4 em Alcântara, Lisboa',
       'Apartamento T0 na Rua António Feijó, São Domingos de Benfica, Lisboa',
       'Apartamento T1 em Travessa dos Pescadores, Misericórdia, Lisboa',
       'Apartamento T2+1 na Rua do Vale de Santo António, São Vicente, Lisboa',
       'Apartamento T5 em Calçada de Santo Amaro, Alcântara, Lisboa',
       'Apartamento T2 em Largo Calderon Dinis, Parque das Nações, Lisboa',
       'Apartamento T3 em Praça Francisco Sá Carneiro, Areeiro, Lisboa',
       'Apartamento T2+1 em Estrela, Lisboa',
       'Loft T0 Duplex em Misericórdia, Lisboa',
       'Apartamento T1 em Estrela, Lisboa',
       'Apartamento T0 em Alcântara, Lisboa',
       'Apartamento T2 em Avenidas Novas, Lisboa',
       'Apartamento T1 em Ajuda, Lisboa',
       'Apartamento T2+1 na Avenida Infante Santo, Estrela, Lisboa',
       'Apartamento T2 em Praça da Armada, Estrela, Lisboa',
       'Moradia T6 em Alvalade, Lisboa',
       'Apartamento T1 em Avenidas Novas, Lisboa',
       'Apartamento T2 na Avenida Duque de Loulé, Arroios, Lisboa',
       'Apartamento T0 em São Vicente, Lisboa',
       'Apartamento T1 na Rua das Laranjeiras, São Domingos de Benfica, Lisboa',
       'Apartamento T3 na Avenida Duque de Loulé, Arroios, Lisboa',
       'Apartamento T2 na Avenida João Crisóstomo, Avenidas Novas, Lisboa',
       'Penthouse T1 em Travessa da Palmeira, Misericórdia, Lisboa',
       'Apartamento T2 na Rua dos Douradores, Santa Maria Maior, Lisboa',
       'Apartamento T2 em Misericórdia, Lisboa',
       'Apartamento T1 em Alcântara, Lisboa',
       'Apartamento T3 na Rua Sebastião Saraiva Lima, Penha de França, Lisboa',
       'Apartamento T4 em Belém, Lisboa',
       'Apartamento T3 em Alcântara, Lisboa',
       'Apartamento T2 em Santa Maria Maior, Lisboa',
       'Apartamento T3 na Avenida João Crisóstomo, Avenidas Novas, Lisboa',
       'Duplex T2 em Santa Maria Maior, Lisboa',
       'Apartamento T1 na Rua Francisco Pedro Curado, Penha de França, Lisboa',
       'Apartamento T1+1 na Rua das Laranjeiras, São Domingos de Benfica, Lisboa',
       'Apartamento T2 em Campo Grande, Alvalade, Lisboa',
       'Apartamento T3 Triplex em Praça da Alegria, Santo António, Lisboa',
       'Apartamento T2 na Rua Aviador Plácido de Abreu, Campolide, Lisboa',
       'Apartamento T3 na Rua da Junqueira, Belém, Lisboa',
       'Apartamento T2 em Estrada de Chelas, Beato, Lisboa',
       'Estúdio T0 na Rua do Vale de Santo António, São Vicente, Lisboa',
       'Apartamento T5 em Belém, Lisboa',
       'Apartamento T2 na Rua Angelina Vidal, Penha de França, Lisboa',
       'Apartamento T1 na Rua dos Douradores, Santa Maria Maior, Lisboa',
       'Apartamento T6 em Estrela, Lisboa',
       'Apartamento T1 na Avenida Columbano Bordalo Pinheiro, Campolide, Lisboa',
       'Apartamento T3 em Penha de França, Lisboa',
       'Apartamento T2 na Rua Luciano Cordeiro, Santo António, Lisboa',
       'Apartamento T1+1 na Rua dos Anjos, Arroios, Lisboa',
       'Apartamento T1+1 na Rua Cidade da Horta, Arroios, Lisboa',
       'Apartamento T4 em Alvalade, Lisboa',
       'Apartamento T3 na Rua do Arsenal, Santa Maria Maior, Lisboa',
       'Apartamento T4 na Avenida 24 de Julho, Misericórdia, Lisboa',
       'Apartamento T5 na Rua de Pedrouços, Belém, Lisboa',
       'Apartamento T4 em Benfica, Lisboa',
       'Apartamento T2 em São Domingos de Benfica, Lisboa',
       'Duplex T2 Duplex na Rua da Praia de Pedrouços, Belém, Lisboa',
       'Apartamento T3 na Rua Professor Simões Raposo, Lumiar, Lisboa',
       'Apartamento T1 na Avenida João Crisóstomo, Avenidas Novas, Lisboa',
       'Apartamento T2 Duplex na Rua Professor Veiga Beirão, Alvalade, Lisboa',
       'Apartamento T3 em Campo Grande, Alvalade, Lisboa',
       'Apartamento T2 na Rua do Vale de Santo António, Penha de França, Lisboa',
       'Apartamento T2 Triplex em Santa Maria Maior, Lisboa',
       'Apartamento T2+2 em Santa Maria Maior, Lisboa',
       'Apartamento T2 em Ajuda, Lisboa',
       'Apartamento T4 na Rua do Arsenal, Santa Maria Maior, Lisboa',
       'Apartamento T2 em Calçada de Santo André, São Vicente, Lisboa',
       'Apartamento na Rua Castelo Branco Saraiva, Penha de França, Lisboa',
       'Moradia T9 na Rua do Sítio Ao Casalinho da Ajuda, Ajuda, Lisboa',
       'Apartamento T2 na Rua dos Baldaques, Penha de França, Lisboa',
       'Apartamento T2 em Benfica, Lisboa',
       'Duplex T1+1 Duplex na Rua da Praia de Pedrouços, Belém, Lisboa',
       'Apartamento T2 em Areeiro, Lisboa',
       'Apartamento T2+2 na Rua das Laranjeiras, São Domingos de Benfica, Lisboa',
       'Apartamento T1 em Praça da Armada, Estrela, Lisboa',
       'Apartamento T1 em Travessa da Palmeira, Misericórdia, Lisboa',
       'Apartamento T2+1 na Rua das Laranjeiras, São Domingos de Benfica, Lisboa',
       'Apartamento T0 na Rua Prior do Crato, Estrela, Lisboa',
       'Apartamento T2 na Avenida Dom João II, Parque das Nações, Lisboa',
       'Apartamento T4 na Rua Sarmento de Beires, Areeiro, Lisboa',
       'Apartamento T1 na Rua Abade Faria, Areeiro, Lisboa',
       'Loft T1 em Misericórdia, Lisboa',
       'Apartamento T3 na Avenida de Madrid, Areeiro, Lisboa',
       'Apartamento T3 na Rua Engenheiro Ferry Borges, Carnide, Lisboa',
       'Moradia T10 em Areeiro, Lisboa',
       'Apartamento T4 em Santo António, Lisboa',
       'Apartamento T2 em Largo do Terreiro do Trigo, Santa Maria Maior, Lisboa',
       'Apartamento T2 na Avenida da República, Avenidas Novas, Lisboa',
       'Apartamento T3 em São Vicente, Lisboa',
       'Apartamento T2 em Calçada da Picheleira, Beato, Lisboa',
       'Apartamento T2 Triplex em Estrela, Lisboa',
       'Apartamento T4 em Penha de França, Lisboa',
       'Apartamento T4 na Rua Borges Carneiro, Estrela, Lisboa',
       'Apartamento T0 em Estrela, Lisboa',
       'Apartamento T2+1 na Rua do Conde de Redondo, Santo António, Lisboa',
       'Apartamento T2 Duplex em Misericórdia, Lisboa',
       'Moradia T9 Duplex na Rua do Sítio Ao Casalinho da Ajuda, Ajuda, Lisboa',
       'Apartamento T1 na Rua Capitão Leitão, Marvila, Lisboa',
       'Apartamento T4 na Avenida Duque de Loulé, Santo António, Lisboa',
       'Moradia T8 Triplex em Alvalade, Lisboa',
       'Apartamento T4 em Travessa Carlo Paggi, São Domingos de Benfica, Lisboa',
       'Apartamento T1 na Rua Maria Pia, Campo de Ourique, Lisboa',
       'Apartamento T6 em Avenidas Novas, Lisboa',
       'Apartamento T2+1 na Rua António Nobre, São Domingos de Benfica, Lisboa',
       'Apartamento T3 Triplex na Rua Francisco Pereira de Sousa, São Domingos de Benfica, Lisboa',
       'Apartamento T3 na Rua Doutor Rafael Duque, Benfica, Lisboa',
       'Apartamento T2 em Travessa da Horta Navia, Estrela, Lisboa',
       'Apartamento T2+1 na Rua Damasceno Monteiro, Arroios, Lisboa',
       'Apartamento T3 na Avenida Dom João II, Parque das Nações, Lisboa',
       'Estúdio T0 em Alcântara, Lisboa',
       'Apartamento T0 na Rua de Sousa Loureiro, Benfica, Lisboa',
       'Apartamento T0 na Rua do Vale de Santo António, São Vicente, Lisboa',
       'Penthouse T2 na Rua Tenente Espanca, Avenidas Novas, Lisboa',
       'Apartamento T3 na Rua Gonçalves Crespo, Arroios, Lisboa',
       'Apartamento T1 em Largo Rafael Bordalo Pinheiro, Santa Maria Maior, Lisboa',
       'Casa Geminada T4 na Rua de Santo António A Belém, Belém, Lisboa',
       'Apartamento T3 Triplex na Rua Coelho da Rocha, Campo de Ourique, Lisboa',
       'Duplex T5 Duplex na Avenida Dom Carlos I, Estrela, Lisboa',
       'Apartamento T2+1 na Rua Joaquim Casimiro, Estrela, Lisboa',
       'Apartamento T3 Triplex em São Vicente, Lisboa',
       'Apartamento T3 na Rua de Campolide, Campolide, Lisboa',
       'Apartamento T2 na Rua Elina Guimarães, Santa Clara, Lisboa',
       'Apartamento T3 na Rua Camilo Castelo Branco, Santo António, Lisboa',
       'Apartamento T3 na Rua Nova do Almada, Santa Maria Maior, Lisboa',
       'Apartamento T1 na Rua da Glória, Santo António, Lisboa',
       'Apartamento T1 em Travessa do Possolo, Estrela, Lisboa',
       'Apartamento T3 na Rua de Artilharia Um, Avenidas Novas, Lisboa',
       'Duplex T2 na Rua António Nobre, São Domingos de Benfica, Lisboa',
       'Moradia T3 em Parque das Nações, Lisboa',
       'Loft em Largo de Andaluz, Santo António, Lisboa',
       'Apartamento T2 Triplex na Rua Francisco Pereira de Sousa, São Domingos de Benfica, Lisboa',
       'Apartamento T3 na Rua Maria Veleda, Carnide, Lisboa',
       'Apartamento na Rua do Vale de Santo António, São Vicente, Lisboa',
       'Apartamento T4 na Rua do Ferragial, Misericórdia, Lisboa',
       'Apartamento T2 na Rua Aliança Operária, Alcântara, Lisboa',
       'Apartamento T2 na Rua Angelina Vidal, São Vicente, Lisboa',
       'Apartamento T3 na Rua do Poço dos Negros, Misericórdia, Lisboa',
       'Apartamento T1 em Campolide, Lisboa',
       'Apartamento T2 na Rua de São Bento, Santo António, Lisboa',
       'Apartamento T2 na Rua Tomás de Anunciação, Campo de Ourique, Lisboa',
       'Apartamento T2 Duplex em Santa Maria Maior, Lisboa',
       'Apartamento T2 Triplex em São Vicente, Lisboa',
       'Apartamento T2 em Praça José Fontana, Arroios, Lisboa',
       'Apartamento T3 em Santo António, Lisboa',
       'Apartamento T1 na Rua Canto da Maya, Campolide, Lisboa',
       'Apartamento T3 na Rua Doutor João de Barros, Benfica, Lisboa',
       'Apartamento T3 na Rua David de Sousa, Areeiro, Lisboa',
       'Duplex T1 Duplex na Rua Luz Soriano, Misericórdia, Lisboa',
       'Apartamento T2 em Olivais, Lisboa',
       'Moradia T4 na Rua Comandante Augusto Cardoso, Benfica, Lisboa',

In [192]:
Lisbon_Properties['region'].value_counts()

region
Estrela                    185
São Domingos de Benfica    142
São Vicente                108
Avenidas Novas             107
Arroios                    103
Santa Maria Maior           80
Misericórdia                68
Campolide                   62
Santo António               54
Benfica                     53
Belém                       49
Alcântara                   44
Parque das Nações           42
Campo de Ourique            41
Penha de França             34
Lumiar                      32
Alvalade                    32
Areeiro                     27
Marvila                     22
Ajuda                       22
Olivais                     10
Carnide                      6
Santa Clara                  4
Beato                        4
Name: count, dtype: int64

### Fixing issues found in previous step

There are some wrong values in 'num_rooms' and 'total_area' features:
1. In 'num_rooms', we have areas, which shouldn't happen2. 
In 'total_area', we have some unexpected values like'C.E.:

In [95]:
Lisbon_Properties[Lisbon_Properties['num_rooms'].apply(lambda x: 'Área' in x)].head(10)

,id,title,price,num_rooms,total_area,latitude,longitude,region,extras
39,39,Apartamento T0 em Travessa do Terreiro de Sant...,128.000 €,Área bruta 28 m²,C.E.: D,"38,71006","-9,14999",Misericórdia,Rés do chão
134,138,"Apartamento T0 em Travessa do Almargem, Santa ...",850.000 €,Área bruta 48 m²,C.E.: C,"38,7092483961","-9,1316074133",Santa Maria Maior,
172,177,"Apartamento T0 em Campolide, Lisboa",289.000 €,Área bruta 37 m²,C.E.: C,"38,7281213","-9,1624887",Campolide,Último andar
177,182,"Apartamento T0 em Santa Maria Maior, Lisboa",425.000 €,Área bruta 63 m²,C.E.: B-,"38,71064","-9,1353",Santa Maria Maior,
242,253,"Apartamento T0+1 em Avenidas Novas, Lisboa",345.000 €,Área bruta 60 m²,C.E.: B-,"38,7453","-9,15258",Avenidas Novas,"Rés do chão, Com elevador, Com garagem"
255,267,"Apartamento T0 na Rua António Feijó, São Domin...",550.000 €,Área bruta 57 m²,C.E.: C,"38,74559","-9,17853",São Domingos de Benfica,Com elevador
269,283,"Loft T0 Duplex em Misericórdia, Lisboa",299.000 €,Área bruta 60 m²,C.E.: B-,"38,7093","-9,14433",Misericórdia,
273,288,"Apartamento T0 em Alcântara, Lisboa",229.000 €,Área bruta 35 m²,C.E.: E,"38,70362","-9,17891",Alcântara,
286,301,"Apartamento T0 em São Vicente, Lisboa",299.900 €,Área bruta 63 m²,C.E.: D,"38,7177917","-9,1224923",São Vicente,Rés do chão
342,360,"Estúdio T0 na Rua do Vale de Santo António, Sã...",299.900 €,Área bruta 51 m²,C.E.: Propriedade isenta,"38,7178006","-9,1225126",São Vicente,Rés do chão

After filtering the Lisbon_Properties data frame, we found out that these rows were T0s and properties that do not specify the number of rooms.

To fix this, in the next step, we check whether the string 'Área' is in the 'num_rooms' column of each row. 

If this is **True**, we append each index of the row to a list called 'modify_indeces' and:
- If 'T0' is in the title of this specific row, we assign the 'num_rooms' column to be the 'total_area' column, and assign the string '0 rooms' to the 'num_rooms' column;
- Else - for properties that do not speficy the number of rooms - we assign minus 1 ('-1') - the reason of this is that we will fill these missing values with machine learning techniques.

In [96]:
modify_indices = []

for i, rooms in enumerate(Lisbon_Properties['num_rooms']):
    if isinstance(rooms, str) and 'Área' in rooms:
        modify_indices.append(i)

for i in modify_indices:
    if 'T0' in Lisbon_Properties.at[i, 'title']: 
        Lisbon_Properties.at[i, 'total_area'] = Lisbon_Properties.at[i, 'num_rooms']
        Lisbon_Properties.at[i, 'num_rooms'] = '0 quartos'
    else: 
        Lisbon_Properties.at[i, 'total_area'] = Lisbon_Properties.at[i, 'num_rooms']
        Lisbon_Properties.at[i, 'num_rooms'] = '-1'
        
Lisbon_Properties.reset_index(drop=True, inplace=True)

In [97]:
Lisbon_Properties[Lisbon_Properties['title'].apply(lambda x: 'T0' in x)].head(10) # Check whether T0s rows are already fixed

,id,title,price,num_rooms,total_area,latitude,longitude,region,extras
39,39,Apartamento T0 em Travessa do Terreiro de Sant...,128.000 €,0 quartos,Área bruta 28 m²,"38,71006","-9,14999",Misericórdia,Rés do chão
134,138,"Apartamento T0 em Travessa do Almargem, Santa ...",850.000 €,0 quartos,Área bruta 48 m²,"38,7092483961","-9,1316074133",Santa Maria Maior,
172,177,"Apartamento T0 em Campolide, Lisboa",289.000 €,0 quartos,Área bruta 37 m²,"38,7281213","-9,1624887",Campolide,Último andar
177,182,"Apartamento T0 em Santa Maria Maior, Lisboa",425.000 €,0 quartos,Área bruta 63 m²,"38,71064","-9,1353",Santa Maria Maior,
242,253,"Apartamento T0+1 em Avenidas Novas, Lisboa",345.000 €,0 quartos,Área bruta 60 m²,"38,7453","-9,15258",Avenidas Novas,"Rés do chão, Com elevador, Com garagem"
255,267,"Apartamento T0 na Rua António Feijó, São Domin...",550.000 €,0 quartos,Área bruta 57 m²,"38,74559","-9,17853",São Domingos de Benfica,Com elevador
269,283,"Loft T0 Duplex em Misericórdia, Lisboa",299.000 €,0 quartos,Área bruta 60 m²,"38,7093","-9,14433",Misericórdia,
273,288,"Apartamento T0 em Alcântara, Lisboa",229.000 €,0 quartos,Área bruta 35 m²,"38,70362","-9,17891",Alcântara,
286,301,"Apartamento T0 em São Vicente, Lisboa",299.900 €,0 quartos,Área bruta 63 m²,"38,7177917","-9,1224923",São Vicente,Rés do chão
342,360,"Estúdio T0 na Rua do Vale de Santo António, Sã...",299.900 €,0 quartos,Área bruta 51 m²,"38,7178006","-9,1225126",São Vicente,Rés do chão

After these corrections, we will drop the properties that do not have either the correct number of rooms or the correct total area.

In [98]:
drop_indices = []

for i,area in enumerate(Lisbon_Properties['total_area']):
    if isinstance(area, str) and 'Área' not in area:
        drop_indices.append(i)

Lisbon_Properties.drop(index=drop_indices, inplace=True)

### Checking if our fixes went well

In [99]:
Lisbon_Properties['num_rooms'].value_counts()

num_rooms
2 quartos     439
1 quarto      317
3 quartos     280
4 quartos     147
0 quartos      47
5 quartos      28
-1             24
9 quartos      12
6 quartos       7
7 quartos       6
10 quartos      2
8 quartos       2
11 quartos      1
Name: count, dtype: int64

In [100]:
Lisbon_Properties['total_area'].unique() # Checking if our fixes went well

array(['Área bruta 90 m²', 'Área bruta 97 m²', 'Área bruta 120 m²',
       'Área bruta 55 m²', 'Área bruta 93 m²', 'Área bruta 416 m²',
       'Área útil 233 m²', 'Área bruta 234 m²', 'Área bruta 290 m²',
       'Área bruta 336 m²', 'Área bruta 874 m²', 'Área bruta 60 m²',
       'Área bruta 264 m²', 'Área bruta 262 m²', 'Área útil 88 m²',
       'Área bruta 48 m²', 'Área bruta 68 m²', 'Área bruta 150 m²',
       'Área bruta 228 m²', 'Área bruta 70 m²', 'Área bruta 102 m²',
       'Área bruta 119 m²', 'Área bruta 230 m²', 'Área bruta 180 m²',
       'Área bruta 134 m²', 'Área bruta 130 m²', 'Área bruta 138 m²',
       'Área bruta 160 m²', 'Área bruta 74 m²', 'Área bruta 110 m²',
       'Área bruta 49 m²', 'Área bruta 302 m²', 'Área bruta 54 m²',
       'Área bruta 28 m²', 'Área bruta 85 m²', 'Área bruta 198 m²',
       'Área bruta 76 m²', 'Área bruta 67 m²', 'Área bruta 168 m²',
       'Área bruta 426 m²', 'Área bruta 44 m²', 'Área bruta 191 m²',
       'Área útil 140 m²', 'Área útil 139 m²', 'Área bruta 259 m²',
       'Área bruta 77 m²', 'Área bruta 43 m²', 'Área bruta 65 m²',
       'Área bruta 286 m²', 'Área bruta 186 m²', 'Área bruta 133 m²',
       'Área útil 182 m²', 'Área bruta 245 m²', 'Área útil 186 m²',
       'Área bruta 281 m²', 'Área bruta 158 m²', 'Área útil 198 m²',
       'Área bruta 214 m²', 'Área bruta 87 m²', 'Área útil 184 m²',
       'Área bruta 63 m²', 'Área bruta 79 m²', 'Área bruta 118 m²',
       'Área bruta 80 m²', 'Área bruta 56 m²', 'Área bruta 131 m²',
       'Área bruta 91 m²', 'Área bruta 301 m²', 'Área bruta 250 m²',
       'Área bruta 116 m²', 'Área bruta 101 m²', 'Área bruta 112 m²',
       'Área bruta 626 m²', 'Área bruta 115 m²', 'Área útil 115 m²',
       'Área bruta 318 m²', 'Área bruta 47 m²', 'Área útil 261 m²',
       'Área bruta 58 m²', 'Área bruta 161 m²', 'Área bruta 103 m²',
       'Área bruta 148 m²', 'Área bruta 92 m²', 'Área bruta 105 m²',
       'Área bruta 181 m²', 'Área bruta 156 m²', 'Área bruta 33 m²',
       'Área bruta 423 m²', 'Área bruta 282 m²', 'Área bruta 88 m²',
       'Área bruta 34 m²', 'Área bruta 135 m²', 'Área bruta 71 m²',
       'Área bruta 600 m²', 'Área bruta 3.527 m²', 'Área útil 172 m²',
       'Área bruta 62 m²', 'Área bruta 111 m²', 'Área bruta 175 m²',
       'Área bruta 104 m²', 'Área bruta 169 m²', 'Área bruta 177 m²',
       'Área bruta 279 m²', 'Área bruta 106 m²', 'Área bruta 108 m²',
       'Área bruta 149 m²', 'Área bruta 145 m²', 'Área bruta 172 m²',
       'Área bruta 114 m²', 'Área bruta 136 m²', 'Área útil 135 m²',
       'Área bruta 284 m²', 'Área bruta 83 m²', 'Área bruta 50 m²',
       'Área bruta 137 m²', 'Área bruta 37 m²', 'Área bruta 75 m²',
       'Área útil 130 m²', 'Área útil 552 m²', 'Área bruta 299 m²',
       'Área útil 142 m²', 'Área bruta 215 m²', 'Área bruta 193 m²',
       'Área bruta 219 m²', 'Área bruta 192 m²', 'Área útil 64 m²',
       'Área bruta 52 m²', 'Área bruta 310 m²', 'Área útil 125 m²',
       'Área útil 118 m²', 'Área bruta 326 m²', 'Área bruta 287 m²',
       'Área bruta 255 m²', 'Área bruta 320 m²', 'Área bruta 142 m²',
       'Área bruta 73 m²', 'Área bruta 42 m²', 'Área bruta 182 m²',
       'Área bruta 552 m²', 'Área útil 136 m²', 'Área bruta 35 m²',
       'Área bruta 184 m²', 'Área bruta 30 m²', 'Área bruta 94 m²',
       'Área bruta 207 m²', 'Área bruta 117 m²', 'Área bruta 154 m²',
       'Área bruta 100 m²', 'Área bruta 122 m²', 'Área útil 52 m²',
       'Área bruta 57 m²', 'Área útil 58 m²', 'Área bruta 352 m²',
       'Área bruta 244 m²', 'Área bruta 78 m²', 'Área bruta 89 m²',
       'Área bruta 53 m²', 'Área útil 70 m²', 'Área bruta 64 m²',
       'Área bruta 121 m²', 'Área bruta 38 m²', 'Área bruta 153 m²',
       'Área bruta 144 m²', 'Área bruta 109 m²', 'Área bruta 95 m²',
       'Área bruta 146 m²', 'Área bruta 69 m²', 'Área bruta 46 m²',
       'Área bruta 147 m²', 'Área bruta 204 m²', 'Área bruta 151 m²',
       'Área bruta 289 m²', 'Área bruta 240 m²', 'Área bruta 51 m²',
       'Área bruta 82 m²', 'Área bruta 166 m²', 'Área bruta 72 m²',
       'Área bruta 934 m²', 'Área bruta 857 m²', 'Área bruta 40 m²',
       'Área bruta 224 m²', 'Área bruta 333 m²', 'Área bruta 278 m²',
       'Área bruta 385 m²', 'Área bruta 113 m²', 'Área bruta 129 m²',
       'Área bruta 143 m²', 'Área bruta 59 m²', 'Área bruta 81 m²',
       'Área bruta 66 m²', 'Área bruta 125 m²', 'Área bruta 174 m²',
       'Área útil 48 m²', 'Área bruta 162 m²', 'Área bruta 84 m²',
       'Área bruta 41 m²', 'Área bruta 276 m²', 'Área bruta 45 m²',
       'Área bruta 123 m²', 'Área bruta 238 m²', 'Área útil 226 m²',
       'Área bruta 179 m²', 'Área bruta 422 m²', 'Área bruta 31 m²',
       'Área bruta 346 m²', 'Área bruta 473 m²', 'Área bruta 140 m²',
       'Área bruta 335 m²', 'Área bruta 232 m²', 'Área bruta 139 m²',
       'Área bruta 107 m²', 'Área útil 37 m²', 'Área bruta 634 m²',
       'Área bruta 559 m²', 'Área bruta 269 m²', 'Área útil 45 m²',
       'Área bruta 165 m²', 'Área útil 63 m²', 'Área bruta 163 m²',
       'Área bruta 124 m²', 'Área bruta 231 m²', 'Área bruta 164 m²',
       'Área bruta 96 m²', 'Área útil 38 m²', 'Área bruta 159 m²',
       'Área útil 109 m²', 'Área bruta 141 m²', 'Área bruta 213 m²',
       'Área útil 50 m²', 'Área bruta 242 m²', 'Área bruta 98 m²',
       'Área bruta 183 m²', 'Área bruta 86 m²', 'Área bruta 127 m²',
       'Área útil 318 m²', 'Área útil 80 m²', 'Área bruta 685 m²',
       'Área bruta 132 m²', 'Área bruta 315 m²', 'Área útil 67 m²',
       'Área bruta 167 m²', 'Área bruta 99 m²', 'Área útil 47 m²',
       'Área bruta 39 m²', 'Área bruta 196 m²', 'Área útil 41 m²',
       'Área bruta 509 m²', 'Área bruta 221 m²', 'Área útil 71 m²',
       'Área útil 79 m²', 'Área útil 20 m²', 'Área bruta 249 m²',
       'Área bruta 36 m²', 'Área bruta 188 m²', 'Área útil 331 m²',
       'Área bruta 126 m²', 'Área bruta 1.196 m²', 'Área bruta 203 m²',
       'Área útil 60 m²', 'Área bruta 254 m²', 'Área bruta 199 m²',
       'Área útil 75 m²', 'Área útil 152 m²', 'Área bruta 171 m²',
       'Área útil 72 m²', 'Área bruta 185 m²', 'Área bruta 152 m²',
       'Área bruta 61 m²', 'Área bruta 209 m²', 'Área útil 51 m²',
       'Área bruta 261 m²', 'Área bruta 502 m²', 'Área bruta 478 m²',
       'Área útil 55 m²', 'Área útil 123 m²', 'Área útil 92 m²',
       'Área bruta 220 m²', 'Área bruta 211 m²', 'Área útil 59 m²',
       'Área bruta 25 m²', 'Área útil 68 m²', 'Área útil 65 m²',
       'Área bruta 225 m²', 'Área útil 111 m²', 'Área útil 180 m²',
       'Área útil 90 m²', 'Área útil 107 m²', 'Área bruta 484 m²',
       'Área útil 61 m²', 'Área útil 110 m²', 'Área bruta 270 m²',
       'Área útil 49 m²', 'Área bruta 170 m²', 'Área bruta 18 m²',
       'Área útil 112 m²', 'Área bruta 173 m²', 'Área útil 131 m²',
       'Área bruta 12 m²', 'Área útil 62 m²', 'Área bruta 500 m²',
       'Área útil 89 m²', 'Área útil 103 m²', 'Área útil 30 m²',
       'Área útil 26 m²', 'Área útil 200 m²', 'Área útil 128 m²',
       'Área útil 132 m²', 'Área bruta 303 m²', 'Área bruta 340 m²',
       'Área bruta 295 m²', 'Área bruta 155 m²', 'Área útil 84 m²',
       'Área bruta 323 m²', 'Área útil 81 m²', 'Área bruta 253 m²',
       'Área útil 40 m²', 'Área útil 74 m²', 'Área útil 284 m²',
       'Área útil 230 m²', 'Área útil 91 m²', 'Área útil 69 m²',
       'Área útil 93 m²', 'Área bruta 32 m²', 'Área útil 44 m²'],
      dtype=object)

## Modifying and Creating New Features

In [101]:
Lisbon_Properties.head()

,id,title,price,num_rooms,total_area,latitude,longitude,region,extras
0,0,"Apartamento T2 em Alvalade, Lisboa",430.000 €,2 quartos,Área bruta 90 m²,"38,7457392","-9,1425898",Alvalade,
1,1,"Apartamento T1 em Benfica, Lisboa",269.900 €,1 quarto,Área bruta 97 m²,"38,75171","-9,2009",Benfica,
2,2,"Apartamento T3 na Rua António Nobre, São Domin...",399.900 €,3 quartos,Área bruta 120 m²,"38,74657","-9,17989",São Domingos de Benfica,
3,3,"Apartamento T2 na Rua de São Pedro Mártir, San...",285.000 €,2 quartos,Área bruta 55 m²,"38,71471","-9,13582",Santa Maria Maior,
4,4,"Apartamento T1 em Praça de Luís de Camões, Mis...",690.000 €,1 quarto,Área bruta 93 m²,"38,71078","-9,14385",Misericórdia,Com garagem

### Defining some functions to modify some columns

In [102]:
def extra_rooms(x):
    if '+' in x:
        return int(x.split('+')[1])
    else:
        return 0

def area(x):
    if 'Área' in x:
        return int(x.split()[2].replace('.',''))
    else:
        return 'Unknown'

def num_extras(x):
    if x.isspace():
        return 0
    elif ',' in x:
        return int(len(x.split(',')))
    else:
        return 1

In [103]:
Lisbon_Properties['Type'] = Lisbon_Properties['title'].apply(lambda x: x.split()[0])
Lisbon_Properties['Typology'] = Lisbon_Properties['title'].apply(lambda x: x.split()[1])
Lisbon_Properties['Extra_Rooms'] = Lisbon_Properties['Typology'].apply(extra_rooms)
Lisbon_Properties['Extra_Rooms_Flag'] = Lisbon_Properties['Extra_Rooms'].apply(lambda x: 1 if x > 0 else 0)
Lisbon_Properties['N_Rooms'] = Lisbon_Properties['num_rooms'].apply(lambda x: int(x.split()[0]))
Lisbon_Properties['Total_N_Rooms'] = Lisbon_Properties['N_Rooms'] + Lisbon_Properties['Extra_Rooms']
Lisbon_Properties['Price'] = Lisbon_Properties['price'].apply(lambda x: int(x.replace('.','').split()[0]))
Lisbon_Properties['Area_m2'] = Lisbon_Properties['total_area'].apply(area)
Lisbon_Properties['N_Extras'] = Lisbon_Properties['extras'].apply(num_extras)
Lisbon_Properties['Extras_Flag'] = Lisbon_Properties['N_Extras'].apply(lambda x: 1 if x > 0 else 0)
Lisbon_Properties['Latitude'] = Lisbon_Properties['latitude'].apply(lambda x: float(x.replace(',','.')))
Lisbon_Properties['Longitude'] = Lisbon_Properties['longitude'].apply(lambda x: float(x.replace(',','.')))
Lisbon_Properties.rename(columns={'region':'Region'}, inplace=True)

**Summary:**

- Modified Columns:
  1. N_rooms - Number of property rooms (e.g. 3 integer, instead of '3 rooms' string)
  2. Price - Property price in euros (integer instead of string - e.g. 300.000 € --> Price = 300000)
  3. Area_m2 = Property area in square meters (m2) (e.g. 'Área bruta 90 m²' --> Area_m2 = 90)
  4. Latitude = Property latitude (e.g. '38,7457392' string --> Latitude = 38,7457392 float)
  5. Longitude = Property latitude (e.g. '-9,1425898' string --> Latitude = -9,1425898 float)
 
- New Columns:
  1. Type - Property type (e.g. Apartment, Duplex, etc.)
  2. Typology - Property typology (e.g. T1, T2, etc.) - this is just a temporary column to extract extra rooms
  3. Extra_Rooms - Property extra rooms (e.g. T1+1 --> Extra_Rooms = 1)
  4. Extra_Rooms_Flag - 1 if the property has extra rooms, 0 otherwise
  5. N_Extras - Number of property extras
  6. Extras_Flag - 1 if the property has extras, 0 otherwise
  7. Total_N_Rooms - Total number of property rooms (number of rooms + extra rooms - e.g. T1+1 --> Total_N_Rooms = 2)

### Finding the unique extras to create dummy variables for it

In [104]:
extras_df = Lisbon_Properties['extras'].str.split(',', expand=True)

extras = []
unique_extras = []

for x in [0,1,2,3,4]:
    extras.append(list(extras_df[x].unique()))

for ext in extras:
    unique_extras += ext

unique_extras = set(unique_extras)
unique_extras = {extra.strip() for extra in unique_extras if extra is not None and extra.strip()}

In [105]:
unique_extras

{'Com elevador',
 'Com garagem',
 'De luxo',
 'Piscina',
 'Rés do chão',
 'Vista para mar',
 'Último andar'}

In [106]:
for feature in unique_extras:
    Lisbon_Properties[feature] = Lisbon_Properties['extras'].apply(lambda x: int(feature in x))

### Creating dummy variables for Region and Property Type

In [107]:
region_dummies = pd.get_dummies(Lisbon_Properties['Region'],dtype=int)
type_dummies = pd.get_dummies(Lisbon_Properties['Type'],dtype=int)

In [108]:
Lisbon_Properties = pd.concat([Lisbon_Properties, region_dummies, type_dummies], axis=1)

### Drop Columns that we no longer need

In [109]:
columns_to_drop = ['title', 'price', 'num_rooms', 'total_area', 'latitude', 'longitude', 'Typology','extras','Region','Type']
Lisbon_Properties = Lisbon_Properties.drop(columns_to_drop, axis=1)

In [110]:
Lisbon_Properties.head()

,id,Extra_Rooms,Extra_Rooms_Flag,N_Rooms,Total_N_Rooms,Price,Area_m2,N_Extras,Extras_Flag,Latitude,...,Apartamento,Casa,Duplex,Estúdio,Flat,Loft,Moradia,Palacete,Penthouse,Quinta
0,0,0,0,2,2,430000,90,0,0,38.745739,...,1,0,0,0,0,0,0,0,0,0
1,1,0,0,1,1,269900,97,0,0,38.751710,...,1,0,0,0,0,0,0,0,0,0
2,2,0,0,3,3,399900,120,0,0,38.746570,...,1,0,0,0,0,0,0,0,0,0
3,3,0,0,2,2,285000,55,0,0,38.714710,...,1,0,0,0,0,0,0,0,0,0
4,4,0,0,1,1,690000,93,1,1,38.710780,...,1,0,0,0,0,0,0,0,0,0

In [22]:
Lisbon_Properties.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1312 entries, 0 to 1330
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       1312 non-null   int64
 1   Extra_Rooms              1312 non-null   int64
 2   Extra_Rooms_Flag         1312 non-null   int64
 3   N_Rooms                  1312 non-null   int64
 4   Total_N_Rooms            1312 non-null   int64
 5   Price                    1312 non-null   int64
 6   Area_m2                  1312 non-null   int64
 7   N_Extras                 1312 non-null   int64
 8   Extras_Flag              1312 non-null   int64
 9   Latitude                 1312 non-null   float64
 10  Longitude                1312 non-null   float64
 11  Último andar             1312 non-null   int64
 12  Piscina                  1312 non-null   int64
 13  Rés do chão              1312 non-null   int64
 14  De luxo                  1312 non-null   int64
 15  Com garagem              1312 non-null   int64
 16  Vista para mar           1312 non-null   int64
 17  Com elevador             1312 non-null   int64
 18  Ajuda                    1312 non-null   int32
 19  Alcântara                1312 non-null   int32
 20  Alvalade                 1312 non-null   int32
 21  Areeiro                  1312 non-null   int32
 22  Arroios                  1312 non-null   int32
 23  Avenidas Novas           1312 non-null   int32
 24  Beato                    1312 non-null   int32
 25  Belém                    1312 non-null   int32
 26  Benfica                  1312 non-null   int32
 27  Campo de Ourique         1312 non-null   int32
 28  Campolide                1312 non-null   int32
 29  Carnide                  1312 non-null   int32
 30  Estrela                  1312 non-null   int32
 31  Lumiar                   1312 non-null   int32
 32  Marvila                  1312 non-null   int32
 33  Misericórdia             1312 non-null   int32
 34  Olivais                  1312 non-null   int32
 35  Parque das Nações        1312 non-null   int32
 36  Penha de França          1312 non-null   int32
 37  Santa Clara              1312 non-null   int32
 38  Santa Maria Maior        1312 non-null   int32
 39  Santo António            1312 non-null   int32
 40  São Domingos de Benfica  1312 non-null   int32
 41  São Vicente              1312 non-null   int32
 42  Apartamento              1312 non-null   int32
 43  Casa                     1312 non-null   int32
 44  Duplex                   1312 non-null   int32
 45  Estúdio                  1312 non-null   int32
 46  Flat                     1312 non-null   int32
 47  Loft                     1312 non-null   int32
 48  Moradia                  1312 non-null   int32
 49  Palacete                 1312 non-null   int32
 50  Penthouse                1312 non-null   int32
 51  Quinta                   1312 non-null   int32
dtypes: float64(2), int32(34), int64(16)
memory usage: 369.0 KB

# Lisbon Metro Info - Wikipedia Webscrapping

In [172]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_esta%C3%A7%C3%B5es_do_Metropolitano_de_Lisboa'
response = requests.get(url)
soup = bs4.BeautifulSoup(response.text, 'html.parser')
data = str(soup.find('table', {'class': 'wikitable'}))

table = pd.read_html(data)[0]
columns = ['Nome','Outros nomes','Linha','Lat.','Long.']
Lisbon_Metro = table[columns]

In [175]:
# Lisbon_Metro.to_csv('Lisbon_Metro.csv')

In [25]:
Lisbon_Metro = pd.read_csv('Lisbon_Metro.csv', index_col=0)
Lisbon_Metro

,Nome,Outros nomes,Linha,Lat.,Long.
0,Aeroporto,—,Vermelha,38.76861,−9.12861
1,Alameda,Alameda I (técn.),Verde,38.73713,−9.13388
2,Alameda,Alameda II (técn.),Vermelha,38.73697,−9.13261
3,Alfornelos,—,Azul,38.76038,−9.20435
4,Alto dos Moinhos,Centro Administrativo (prev.),Azul,38.74994,−9.18003
5,Alvalade,—,Verde,38.75311,−9.14396
6,Amadora Este,Falagueira (prev.),Azul,38.75847,−9.21803
7,Ameixoeira,Carriche (prev.),Amarela,38.77937,−9.15962
8,Anjos,—,Verde,38.72715,−9.13485
9,Areeiro,—,Verde,38.74233,−9.13354
10,Arroios,—,Verde,38.73266,−9.13430
11,Avenida,—,Azul,38.71948,−9.14524
12,Baixa-Chiado,Baixa-Chiado I (técn.),Azul,38.71051,−9.14006
13,Baixa-Chiado,Baixa-Chiado II (técn.),Verde,38.71055,−9.14025
14,Bela Vista,Vale de Chelas (prev.) Chelas (prev.),Vermelha,38.74770,−9.11763
15,Cabo Ruivo,Olivais Velho (prev.),Vermelha,38.76293,−9.10499
16,Cais do Sodré,—,Verde,38.70609,−9.14684
17,Campo Grande,Campo Grande I (técn.),Verde,38.76012,−9.15780
18,Campo Grande,Campo Grande II (técn.),Amarela,38.76027,−9.15788
19,Campo Pequeno,—,Amarela,38.74076,−9.14664
20,Carnide,—,Azul,38.75919,−9.19267
21,Chelas,Armador (prev.),Vermelha,38.75479,−9.11392
22,Cidade Universitária,—,Amarela,38.75156,−9.15911
23,Colégio Militar / Luz,Luz (prev.) Estrada da Luz (prev.),Azul,38.75336,−9.18918
24,Encarnação,—,Vermelha,38.77502,−9.11555
25,Entre Campos,—,Amarela,38.74708,−9.14823
26,Intendente,—,Verde,38.72320,−9.13523
27,Jardim Zoológico,Sete Rios (até 1998.03.01),Azul,38.74140,−9.16848
28,Laranjeiras,—,Azul,38.74847,−9.17253
29,Lumiar,—,Amarela,38.77339,−9.15941
30,Marquês de Pombal,Rotunda I (técn. até 1998.03.01) Marquês de Po...,Azul,38.72431,−9.14931
31,Marquês de Pombal,Rotunda II (técn. até 1998.03.01) Marquês de P...,Amarela,38.72488,−9.15034
32,Martim Moniz,Socorro (até 1998.03.01),Verde,38.71753,−9.13583
33,Moscavide,—,Vermelha,38.77488,−9.10292
34,Odivelas,—,Amarela,38.79334,−9.17301
35,Olaias,—,Vermelha,38.74003,−9.12333
36,Olivais,Olivais Sul (prev.),Vermelha,38.76101,−9.11198
37,Oriente,—,Vermelha,38.76787,−9.09959
38,Parque,—,Azul,38.72892,−9.15051
39,Picoas,—,Amarela,38.73037,−9.14692
40,Pontinha,—,Azul,38.76222,−9.19684
41,Praça de Espanha,Palhavã (até 1998.03.01),Azul,38.73775,−9.15927
42,Quinta das Conchas,Quinta do Lambert (prev.) Quinta das Mouras (p...,Amarela,38.76737,−9.15557
43,Rato,—,Amarela,38.72015,−9.15479
44,Reboleira,Amadora Sul (prev.),Azul,38.75227,−9.22408
45,Restauradores,—,Azul,38.71590,−9.14212
46,Roma,—,Verde,38.74784,−9.14115
47,Rossio,—,Verde,38.71402,−9.13794
48,Saldanha,Saldanha I (técn.),Amarela,38.73471,−9.14521
49,Saldanha,Saldanha II (técn.),Vermelha,38.73519,−9.14425
50,Santa Apolónia,—,Azul,38.71369,−9.12247
51,São Sebastião,São Sebastião I (técn.),Azul,38.73392,−9.15358
52,São Sebastião,São Sebastião II (técn.),Vermelha,38.73476,−9.15272
53,Senhor Roubado,Malaposta (prev.),Amarela,38.78564,−9.17182
54,Telheiras,—,Verde,38.75997,−9.16643
55,Terreiro do Paço,—,Azul,38.70703,−9.13441
56,Nome,Outros nomes,Linha,Lat.,Long.

# Lisbon Metro Info - Data Preprocessing

## Removing last row that contains the same info as the heather of the data frame

In [26]:
Lisbon_Metro.drop(index=56, inplace=True)

In [27]:
Lisbon_Metro

,Nome,Outros nomes,Linha,Lat.,Long.
0,Aeroporto,—,Vermelha,38.76861,−9.12861
1,Alameda,Alameda I (técn.),Verde,38.73713,−9.13388
2,Alameda,Alameda II (técn.),Vermelha,38.73697,−9.13261
3,Alfornelos,—,Azul,38.76038,−9.20435
4,Alto dos Moinhos,Centro Administrativo (prev.),Azul,38.74994,−9.18003
5,Alvalade,—,Verde,38.75311,−9.14396
6,Amadora Este,Falagueira (prev.),Azul,38.75847,−9.21803
7,Ameixoeira,Carriche (prev.),Amarela,38.77937,−9.15962
8,Anjos,—,Verde,38.72715,−9.13485
9,Areeiro,—,Verde,38.74233,−9.13354
10,Arroios,—,Verde,38.73266,−9.13430
11,Avenida,—,Azul,38.71948,−9.14524
12,Baixa-Chiado,Baixa-Chiado I (técn.),Azul,38.71051,−9.14006
13,Baixa-Chiado,Baixa-Chiado II (técn.),Verde,38.71055,−9.14025
14,Bela Vista,Vale de Chelas (prev.) Chelas (prev.),Vermelha,38.74770,−9.11763
15,Cabo Ruivo,Olivais Velho (prev.),Vermelha,38.76293,−9.10499
16,Cais do Sodré,—,Verde,38.70609,−9.14684
17,Campo Grande,Campo Grande I (técn.),Verde,38.76012,−9.15780
18,Campo Grande,Campo Grande II (técn.),Amarela,38.76027,−9.15788
19,Campo Pequeno,—,Amarela,38.74076,−9.14664
20,Carnide,—,Azul,38.75919,−9.19267
21,Chelas,Armador (prev.),Vermelha,38.75479,−9.11392
22,Cidade Universitária,—,Amarela,38.75156,−9.15911
23,Colégio Militar / Luz,Luz (prev.) Estrada da Luz (prev.),Azul,38.75336,−9.18918
24,Encarnação,—,Vermelha,38.77502,−9.11555
25,Entre Campos,—,Amarela,38.74708,−9.14823
26,Intendente,—,Verde,38.72320,−9.13523
27,Jardim Zoológico,Sete Rios (até 1998.03.01),Azul,38.74140,−9.16848
28,Laranjeiras,—,Azul,38.74847,−9.17253
29,Lumiar,—,Amarela,38.77339,−9.15941
30,Marquês de Pombal,Rotunda I (técn. até 1998.03.01) Marquês de Po...,Azul,38.72431,−9.14931
31,Marquês de Pombal,Rotunda II (técn. até 1998.03.01) Marquês de P...,Amarela,38.72488,−9.15034
32,Martim Moniz,Socorro (até 1998.03.01),Verde,38.71753,−9.13583
33,Moscavide,—,Vermelha,38.77488,−9.10292
34,Odivelas,—,Amarela,38.79334,−9.17301
35,Olaias,—,Vermelha,38.74003,−9.12333
36,Olivais,Olivais Sul (prev.),Vermelha,38.76101,−9.11198
37,Oriente,—,Vermelha,38.76787,−9.09959
38,Parque,—,Azul,38.72892,−9.15051
39,Picoas,—,Amarela,38.73037,−9.14692
40,Pontinha,—,Azul,38.76222,−9.19684
41,Praça de Espanha,Palhavã (até 1998.03.01),Azul,38.73775,−9.15927
42,Quinta das Conchas,Quinta do Lambert (prev.) Quinta das Mouras (p...,Amarela,38.76737,−9.15557
43,Rato,—,Amarela,38.72015,−9.15479
44,Reboleira,Amadora Sul (prev.),Azul,38.75227,−9.22408
45,Restauradores,—,Azul,38.71590,−9.14212
46,Roma,—,Verde,38.74784,−9.14115
47,Rossio,—,Verde,38.71402,−9.13794
48,Saldanha,Saldanha I (técn.),Amarela,38.73471,−9.14521
49,Saldanha,Saldanha II (técn.),Vermelha,38.73519,−9.14425
50,Santa Apolónia,—,Azul,38.71369,−9.12247
51,São Sebastião,São Sebastião I (técn.),Azul,38.73392,−9.15358
52,São Sebastião,São Sebastião II (técn.),Vermelha,38.73476,−9.15272
53,Senhor Roubado,Malaposta (prev.),Amarela,38.78564,−9.17182
54,Telheiras,—,Verde,38.75997,−9.16643
55,Terreiro do Paço,—,Azul,38.70703,−9.13441

## Creating a new column - Nome_Concat (Concats the name and the sub-name, aka 'Outros nomes', of each Lisbon Metro Station)

In [28]:
Lisbon_Metro['Nome_Concat'] = Lisbon_Metro['Nome']+' - '+Lisbon_Metro['Outros nomes']
Lisbon_Metro.head()

,Nome,Outros nomes,Linha,Lat.,Long.,Nome_Concat
0,Aeroporto,—,Vermelha,38.76861,−9.12861,Aeroporto - —
1,Alameda,Alameda I (técn.),Verde,38.73713,−9.13388,Alameda - Alameda I (técn.)
2,Alameda,Alameda II (técn.),Vermelha,38.73697,−9.13261,Alameda - Alameda II (técn.)
3,Alfornelos,—,Azul,38.76038,−9.20435,Alfornelos - —
4,Alto dos Moinhos,Centro Administrativo (prev.),Azul,38.74994,−9.18003,Alto dos Moinhos - Centro Administrativo (prev.)

In [91]:
Lisbon_Metro['Lat.'] = Lisbon_Metro['Lat.'].apply(lambda x: float(x))
Lisbon_Metro['Long.'] = Lisbon_Metro['Long.'].apply(lambda x: x.replace('−','-'))
Lisbon_Metro['Long.'] = Lisbon_Metro['Long.'].apply(lambda x: float(x))

### Note: before we convert 'Long.' to float, we had to replace the symbol '−' by a real minus '-'

# Lisbon Cultural Facilities Info - Lisboa Aberta Webscrapping: Create Cultural Score

## Museaums Data

In [217]:
museums_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POICultura/FeatureServer/3/query?where=1%3D1&outFields=*&f=pgeojson'

response = requests.get(museums_url)
response.raise_for_status()

mdf = gpd.read_file(response.text)

Lisbon_Museums = pd.DataFrame(mdf)
Lisbon_Museums.head()

,OBJECTID,COD_SIG,INF_NOME,INF_MORADA,FREGUESIA,INF_TELEFONE,INF_EMAIL,INF_SITE,INF_DESCRICAO,INF_ACTIVO,GlobalID,geometry
0,1,656,Museu de Arte Popular,Avenida de Brasília,Belém,+ 351 213 011 282,geral@map.dgpc.pt,https://museuartepopular.wordpress.com/,"Inaugurado em 1948, o seu acervo é essencialme...",1,4188e21c-373e-429e-b209-95c8ec28a34c,POINT (-9.20845 38.69380)
1,3,658,Museu Coleção Berardo,Praça do Império\nCentro Cultural de Belém\n\n,Belém,+351 213 612 878,museuberardo@museuberardo.pt,www.museuberardo.pt,O Museu Coleção Berardo abriu portas a 25 de j...,1,e9b18708-da7a-4c91-87b4-dc1a4646a55b,POINT (-9.20773 38.69575)
2,4,659,"MAAT - Museu de Arte, Arquitetura e Tecnologia",Avenida de Brasília,Belém,+351 210 028 130,info.maat@edp.pt,https://www.maat.pt,"O MAAT, propriedade da Fundação EDP, é um espa...",1,d30df7a4-89fd-4570-a5e2-aca9fdff84f8,POINT (-9.19372 38.69604)
3,5,660,Museu Nacional dos Coches,Avenida da Índia,Belém,+ 351 210 732 319,geral@mncoches.dgpc.pt,http://museudoscoches.gov.pt/pt/,"O atual edifício do Museu dos Coches, desenhad...",1,be5d44a3-dd01-4258-a3ae-c3b73e74e446,POINT (-9.19839 38.69680)
4,6,661,Museu de Marinha,Praça do Império \nMosteiro dos Jerónimos,Belém,+351 210 977 988,geral.museu@marinha.pt,http://ccm.marinha.pt/pt/museu,"Organizado em zonas temáticas distintas, poder...",1,658ca5c9-bc5b-49c7-ba5b-18659c32036b,POINT (-9.20924 38.69723)

### Save a backup

In [318]:
# Lisbon_Museums = Lisbon_Museums.to_csv('Lisbon_Museums.csv')

In [122]:
Lisbon_Museums = pd.read_csv('Lisbon_Museums.csv', index_col=0)

## Theaters Data

In [219]:
theaters_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POICultura/FeatureServer/4/query?where=1%3D1&outFields=*&f=pgeojson'

response = requests.get(theaters_url)
response.raise_for_status()

tdf = gpd.read_file(response.text)

Lisbon_Theaters = pd.DataFrame(tdf)
Lisbon_Theaters.head()

,OBJECTID,COD_SIG,INF_NOME,INF_MORADA,FREGUESIA,INF_TELEFONE,INF_EMAIL,INF_SITE,INF_DESCRICAO,INF_ACTIVO,GlobalID,geometry
0,1,758,Gabinete curiosidades Karnart,"Avenida da Índia, 168",Belém,+351 213 466 411/+351 914 150 935,geral@karnart.org,www.karnart.org,O Gabinete Curiosidades Karnart é a sede da KA...,1,3fe9f7da-7fad-4b14-acb3-52f2e9c0c4a6,POINT (-9.21166 38.69427)
1,2,759,Academia Dramática Familiar 1º de Novembro,"Rua da Praia de Pedrouços, 76-78",Belém,+351 213 012 601,None,None,Edifício do séc XIX de arquitectura cultural e...,1,54f50c25-86c4-4cfa-afda-56bc0df13bde,POINT (-9.21781 38.69461)
2,5,762,LU.CA - Teatro Luís de Camões,"Calçada da Ajuda, 80",Belém,+351 215 939 100,info@lucateatroluisdecamoes.pt,www.lucateatroluisdecamoes.pt,"Pequeno teatro de gosto neoclássico tardio, in...",1,bfdcb6c3-99a0-4295-a270-91707f347131,POINT (-9.19938 38.69903)
3,6,763,Espaço POGO,"Rua da Cintura do Porto de Lisboa, Edifício 403",Estrela,+351 916 403 994,info@pogo.pt,http://www.pogo.pt,None,1,51727d32-af42-4cae-bc34-9628b47b8d51,POINT (-9.15388 38.70570)
4,7,764,Teatro Cinearte,"Largo de Santos, 2-2E",Estrela,21 396 53 60/275,barraca@mail.telepac.pt / bilheteira@abarraca.com,www.abarraca.com,Encomendado pela Sociedade Administradora de C...,1,70165c4b-3536-4eb2-83bd-36d07a1110e8,POINT (-9.15524 38.70718)

### Save a backup

In [321]:
# Lisbon_Theaters.to_csv('Lisbon_Theaters.csv')

In [123]:
Lisbon_Theaters = pd.read_csv('Lisbon_Theaters.csv', index_col=0)

## Cinemas Data

In [223]:
cin_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POICultura/FeatureServer/2/query?where=1%3D1&outFields=*&f=pgeojson'

response = requests.get(cin_url)
response.raise_for_status() 

cdf = gpd.read_file(response.text)

Lisbon_Cinemas = pd.DataFrame(cdf)
Lisbon_Cinemas.head()

,OBJECTID,COD_SIG,INF_NOME,INF_MORADA,FREGUESIA,INF_TELEFONE,INF_EMAIL,INF_SITE,INF_DESCRICAO,INF_FONTE,INF_ACTIVO,GlobalID,geometry
0,1,506,Cinema Ideal,"Rua do Loreto, 15",Misericórdia,+351 210 998 295,cinemaideal@cinemaideal.pt,www.cinemaideal.pt,"Esta sala de cinema, aberta desde 1904, conhec...",-,1,45afe625-02d7-4712-b6b8-7aa0c2116ed6,POINT (-9.14422 38.71054)
1,2,507,Cinemateca Júnior,"Praça dos Restauradores, Palácio da Foz",Santa Maria Maior,+351 213 462 157 | +351 213 476 129,cinemateca.junior@cinemateca.pt,http://www.cinemateca.pt/,"A Cinemateca Júnior, instalada no Palácio Foz,...",http://www.cinemateca.pt/,1,1d3ca135-5a24-478c-95f4-dd2dc87a65c9,POINT (-9.14217 38.71556)
2,3,508,Cinema São Jorge,"Avenida da Liberdade, 175",Santo António,+351 213 103 400,cinemasaojorge@egeac.pt,http://cinemasaojorge.pt/,"Um dos mais emblemáticos cinemas de Lisboa, co...",http://cinemasaojorge.pt/,1,1bf79faf-5d97-48b3-b085-fa4446c435a2,POINT (-9.14633 38.72029)
3,4,509,Cinemateca Portuguesa,"Rua Barata Salgueiro, 39 R/C",Santo António,+ 351 213 596 200,cinemateca@cinemateca.pt,www.cinemateca.pt/,"Em 1948 foi criada a Cinemateca Nacional, hoje...",-,1,3414bf94-62ac-43c7-a846-0d5e41251e89,POINT (-9.14875 38.72088)
4,5,510,NOS Amoreiras,Avenida Engenheiro Duarte Pacheco Lote 7 2º Lo...,Campo de Ourique,16996,cinema.amoreiras@nos.pt,http://cinemas.nos.pt/,Possui 7 salas\n,http://cinemas.nos.pt/,1,1af99162-1626-4f83-9342-f891e2b442bc,POINT (-9.16210 38.72367)

### Save a backup

In [325]:
# Lisbon_Cinemas.to_csv('Lisbon_Cinemas.csv')

In [124]:
Lisbon_Cinemas = pd.read_csv('Lisbon_Cinemas.csv', index_col=0)

## Auditoriums Data

In [227]:
aud_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POICultura/FeatureServer/1/query?where=1%3D1&outFields=*&f=pgeojson'

response = requests.get(aud_url)
response.raise_for_status()

adf = gpd.read_file(response.text)

Lisbon_Auditoriums = pd.DataFrame(adf)
Lisbon_Auditoriums.head()

,OBJECTID,COD_SIG,INF_NOME,INF_MORADA,FREGUESIA,INF_TELEFONE,INF_EMAIL,INF_SITE,INF_DESCRICAO,INF_FONTE,INF_ACTIVO,GlobalID,geometry
0,1,168,Centro de Documentação da Casa da América Latina,"Avenida da Índia, 110",Belém,+351 218 172 490,geral@casamericalatina.pt,http://casamericalatina.pt/inicio/,None,-,1,3d123d45-0d43-4507-b6b3-37a4f384a251,POINT (-9.19434 38.69672)
1,2,169,UCCLA - Centro de Documentação,"Avenida da Índia, 110",Belém,+351 218 172 950,uccla@uccla.pt,http://www.uccla.pt/,A UCCLA é uma associação intermunicipal de nat...,-,1,d3cc88bf-d350-4f9d-829a-94cd08ffebb8,POINT (-9.19434 38.69675)
2,3,170,Biblioteca de Belém,Rua da Junqueira 295,Belém,+351 218 172 580,bib.belem@cm-lisboa.pt,http://blx.cm-lisboa.pt,A Biblioteca Municipal de Belém encontra-se in...,CML - Rede BLx,1,53473127-6007-4d47-9b87-fa4e563c56f8,POINT (-9.19584 38.69713)
3,4,171,Arquivo Central e Arquivo Histórico de Marinha,Avenida da Índia S/N 1º,Belém,21 362 76 00,arquivo.central@marinha.pt / arquivo.historico...,www.marinha.pt,Fundos com origem na documentação da antiga Se...,www.marinha.pt,1,ae67622f-e6cc-4a72-afd3-f69f2d4039cb,POINT (-9.19237 38.69717)
4,5,172,Biblioteca Central da Marinha,Praça do Império Museu da Marinha R/C,Belém,21 365 85 20,biblioteca.marinha@marinha.pt,www.marinha.pt,"Situada, desde 1891, na Praça do Império, na i...",www.marinha.pt,1,fd047b92-5e5f-45f4-bf47-c703cfb0012f,POINT (-9.20924 38.69720)

### Save a backup

In [328]:
# Lisbon_Auditoriums.to_csv('Lisbon_Auditoriums.csv')

In [125]:
Lisbon_Auditoriums = pd.read_csv('Lisbon_Auditoriums.csv', index_col=0)

## Creating a static column 'Type' to identify the facilities of each rows (e.g. Museums, Theaters, etc)

In [126]:
Lisbon_Museums['Type'] = 'Museum'
Lisbon_Theaters['Type'] = 'Theater'
Lisbon_Cinemas['Type'] = 'Cinema'
Lisbon_Auditoriums['Type'] = 'Auditorium'

# Cultural Dataframe

In [141]:
culture_list = [Lisbon_Museums, Lisbon_Theaters, Lisbon_Cinemas, Lisbon_Auditoriums] 
Lisbon_Culture = pd.concat(culture_list)
Lisbon_Culture.head()

,OBJECTID,COD_SIG,INF_NOME,INF_MORADA,FREGUESIA,INF_TELEFONE,INF_EMAIL,INF_SITE,INF_DESCRICAO,INF_ACTIVO,GlobalID,geometry,Type,INF_FONTE
0,1,656,Museu de Arte Popular,Avenida de Brasília,Belém,+ 351 213 011 282,geral@map.dgpc.pt,https://museuartepopular.wordpress.com/,"Inaugurado em 1948, o seu acervo é essencialme...",1,4188e21c-373e-429e-b209-95c8ec28a34c,POINT (-9.20844625414179 38.6938036001826),Museum,NaN
1,3,658,Museu Coleção Berardo,Praça do Império\nCentro Cultural de Belém\n\n,Belém,+351 213 612 878,museuberardo@museuberardo.pt,www.museuberardo.pt,O Museu Coleção Berardo abriu portas a 25 de j...,1,e9b18708-da7a-4c91-87b4-dc1a4646a55b,POINT (-9.20773166084022 38.6957476923844),Museum,NaN
2,4,659,"MAAT - Museu de Arte, Arquitetura e Tecnologia",Avenida de Brasília,Belém,+351 210 028 130,info.maat@edp.pt,https://www.maat.pt,"O MAAT, propriedade da Fundação EDP, é um espa...",1,d30df7a4-89fd-4570-a5e2-aca9fdff84f8,POINT (-9.19371529028373 38.6960435304729),Museum,NaN
3,5,660,Museu Nacional dos Coches,Avenida da Índia,Belém,+ 351 210 732 319,geral@mncoches.dgpc.pt,http://museudoscoches.gov.pt/pt/,"O atual edifício do Museu dos Coches, desenhad...",1,be5d44a3-dd01-4258-a3ae-c3b73e74e446,POINT (-9.19838680167877 38.6968006044798),Museum,NaN
4,6,661,Museu de Marinha,Praça do Império \nMosteiro dos Jerónimos,Belém,+351 210 977 988,geral.museu@marinha.pt,http://ccm.marinha.pt/pt/museu,"Organizado em zonas temáticas distintas, poder...",1,658ca5c9-bc5b-49c7-ba5b-18659c32036b,POINT (-9.20923637432389 38.6972269914078),Museum,NaN

# Cultural Dataframe - Data Preprocessing

### Transform the 'geometry' column to Shapely Point objects to subsequently extract latitude and longitude

In [142]:
Lisbon_Culture['geometry'] = Lisbon_Culture['geometry'].apply(wkt.loads)

In [143]:
Lisbon_Culture.dtypes

OBJECTID          int64
COD_SIG           int64
INF_NOME         object
INF_MORADA       object
FREGUESIA        object
INF_TELEFONE     object
INF_EMAIL        object
INF_SITE         object
INF_DESCRICAO    object
INF_ACTIVO        int64
GlobalID         object
geometry         object
Type             object
INF_FONTE        object
dtype: object

## Drop columns that we no longer need

In [144]:
colms_to_drop = ['COD_SIG', 'INF_MORADA', 'INF_TELEFONE', 'INF_EMAIL', 'INF_SITE', 'INF_DESCRICAO', 'INF_ACTIVO', 'INF_FONTE']
Lisbon_Culture.drop(colms_to_drop, axis=1, inplace=True)

## Checking duplicates

In [145]:
duplicates = Lisbon_Culture.duplicated()
print("Duplicate rows:")
print(Lisbon_Culture[duplicates])

Duplicate rows:
Empty DataFrame
Columns: [OBJECTID, INF_NOME, FREGUESIA, GlobalID, geometry, Type]
Index: []

In [146]:
duplicates = Lisbon_Culture.duplicated(subset=['GlobalID', 'geometry'])
print("Duplicate rows based on columns 'GlobalID' and 'geometry':")
print(Lisbon_Culture[duplicates])

Duplicate rows based on columns 'GlobalID' and 'geometry':
Empty DataFrame
Columns: [OBJECTID, INF_NOME, FREGUESIA, GlobalID, geometry, Type]
Index: []

There are no duplicates

## Spliting Geometry Into Lat. Long. Coordinates

### Defining a function for this task

In [147]:
def extract_lat_long(point):
    if isinstance(point, Point):
        latitude = point.y
        longitude = point.x
        return pd.Series([latitude, longitude])
    else:
        return pd.Series([None, None])

In [148]:
Lisbon_Culture[['latitude', 'longitude']] = Lisbon_Culture['geometry'].apply(extract_lat_long)

In [149]:
Lisbon_Culture.head()

,OBJECTID,INF_NOME,FREGUESIA,GlobalID,geometry,Type,latitude,longitude
0,1,Museu de Arte Popular,Belém,4188e21c-373e-429e-b209-95c8ec28a34c,POINT (-9.20844625414179 38.6938036001826),Museum,38.693804,-9.208446
1,3,Museu Coleção Berardo,Belém,e9b18708-da7a-4c91-87b4-dc1a4646a55b,POINT (-9.20773166084022 38.6957476923844),Museum,38.695748,-9.207732
2,4,"MAAT - Museu de Arte, Arquitetura e Tecnologia",Belém,d30df7a4-89fd-4570-a5e2-aca9fdff84f8,POINT (-9.19371529028373 38.6960435304729),Museum,38.696044,-9.193715
3,5,Museu Nacional dos Coches,Belém,be5d44a3-dd01-4258-a3ae-c3b73e74e446,POINT (-9.19838680167877 38.6968006044798),Museum,38.696801,-9.198387
4,6,Museu de Marinha,Belém,658ca5c9-bc5b-49c7-ba5b-18659c32036b,POINT (-9.20923637432389 38.6972269914078),Museum,38.697227,-9.209236

### Drop 'geometry' column since it is no longer needed

In [150]:
Lisbon_Culture.drop('geometry', axis=1, inplace=True)

### Saving a backup

In [274]:
# Lisbon_Culture.to_csv('Lisbon_Culture.csv')

# Lisbon Educational Facilities Info - Lisboa Aberta Webscrapping - Create Educational Facilities Score

## Pre-School (Public only)

In [33]:
pre_public_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/9/query?outFields=*&where=1%3D1&f=geojson'

response = requests.get(pre_public_url)
response.raise_for_status()

pre_pub = gpd.read_file(response.text)

Lisbon_PrePublic = pd.DataFrame(pre_pub)

### Save a backup

In [34]:
Lisbon_PrePublic.to_csv('Lisbon_PrePublic.csv')

In [35]:
Lisbon_PrePublic = pd.read_csv('Lisbon_PrePublic.csv', index_col=0)

### Creating 'Acess' and 'Stage' columns to identify rows as Pre-School and Public

In [36]:
Lisbon_PrePublic['Access'] = 'Public'
Lisbon_PrePublic['Stage'] = 'Pre-School'

### Rename Columns to Concat

In [37]:
Lisbon_PrePublic.rename(columns={'INF_NOME': 'Name', 'INF_MORADA': 'Address', 'INF_EMAIL': 'Email', 'INF_SITE': 'Website','INF_ACTIVO':'Flag_is_Active', 'FREGUESIA': 'Area'}, inplace=True)

### Drop useless columns

In [38]:
columns_to_drop = ['OBJECTID', 'COD_SIG', 'Address', 'INF_TELEFONE', 'Email', 'Website', 'Flag_is_Active', 'INF_DESCRICAO', 'INF_ID']
Lisbon_PrePublic.drop(columns_to_drop, axis=1, inplace=True)

### Creating new columns order

In [39]:
new_order = ['Name', 'Area', 'GlobalID','geometry', 'Access', 'Stage']
Lisbon_PrePublic = Lisbon_PrePublic[new_order]

Lisbon_PrePublic.head()

,Name,Area,GlobalID,geometry,Access,Stage
0,Escola Profissional Metropolitana de Lisboa,Alcântara,707e37d5-e1b5-45fc-85f8-cc7095308431,POINT (-9.18158997715356 38.699297532228),Public,Pre-School
1,Conservatório Metropolitano de Música de Lisboa,Alcântara,83edfbca-6558-460e-93d1-0475467960a1,POINT (-9.1813018524282 38.6993993202234),Public,Pre-School
2,Academia de Música de Luisboa - Os Violinos,Belém,a421d20f-eb13-4126-a30c-2158b07fe2fd,POINT (-9.1944372593028 38.7001317342682),Public,Pre-School
3,Acordarte - Academia de Música de Lisboa,Belém,24aa8435-1660-4cdd-a993-5113daefd230,POINT (-9.1944372593028 38.7001317342682),Public,Pre-School
4,Escola Profissional de Imagem (ETIC),Misericórdia,049de07d-4405-4a0f-8946-4ddce0c71d28,POINT (-9.14745713248909 38.7078031160822),Public,Pre-School

## 1st Cicle Public/Private

In [40]:
# Public Schools
first_public_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/1/query?outFields=*&where=1%3D1&f=geojson'

response = requests.get(first_public_url)
response.raise_for_status()

Lisbon_1stPublic = gpd.read_file(response.text)
Lisbon_1stPublic = pd.DataFrame(Lisbon_1stPublic)

# Private Schools
first_private_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/6/query?where=1%3D1&outFields=*&f=pgeojson'

response = requests.get(first_private_url)
response.raise_for_status()

Lisbon_1stPrivate  = gpd.read_file(response.text)
Lisbon_1stPrivate = pd.DataFrame(Lisbon_1stPrivate)

### Save a backup

In [41]:
# Lisbon_1stPublic.to_csv('Lisbon_1stPublic.csv')
# Lisbon_1stPrivate.to_csv('Lisbon_1stPrivate.csv')

In [42]:
Lisbon_1stPublic = pd.read_csv('Lisbon_1stPublic.csv',index_col=0)
Lisbon_1stPrivate = pd.read_csv('Lisbon_1stPrivate.csv',index_col=0)

### Creating 'Acess' and 'Stage' columns to identify rows as 1st Cicle and Public/Private

In [43]:
Lisbon_1stPublic['Access'] = 'Public'
Lisbon_1stPublic['Stage'] = 'First'
Lisbon_1stPrivate['Access'] = 'Private'
Lisbon_1stPrivate['Stage'] = 'First'

### Rename Columns to Concat

In [44]:
Lisbon_1stPublic.rename(columns={'NOME_ESCOLA': 'Name', 'MORADA': 'Address', 'FREGUESIA12': 'Area'}, inplace=True)
Lisbon_1stPrivate.rename(columns={'INF_NOME': 'Name', 'INF_MORADA': 'Address', 'FREGUESIA': 'Area', 'INF_SITE': 'Website'}, inplace=True)

### Drop useless columns by creating subsets of needed data

In [45]:
needed_columns = ['Name', 'Area', 'GlobalID', 'geometry', 'Access', 'Stage']

Lisbon_1stPublic = Lisbon_1stPublic[needed_columns]
Lisbon_1stPrivate = Lisbon_1stPrivate[needed_columns]

### Creating new columns order

In [46]:
new_order = ['Name', 'Area', 'GlobalID','geometry', 'Access', 'Stage']

Lisbon_1stPublic = Lisbon_1stPublic[new_order]
Lisbon_1stPrivate = Lisbon_1stPrivate[new_order]

## 2nd/3rd Cicle Public/Private

In [47]:
# Public
second_public_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/1/query?outFields=*&where=1%3D1&f=geojson'

response = requests.get(second_public_url)
response.raise_for_status() 

Lisbon_2ndPublic  = gpd.read_file(response.text)
Lisbon_2ndPublic = pd.DataFrame(Lisbon_2ndPublic)

# Private
second_private_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/6/query?outFields=*&where=1%3D1&f=geojson'

response = requests.get(second_private_url)
response.raise_for_status() 

Lisbon_2ndPrivate  = gpd.read_file(response.text)
Lisbon_2ndPrivate = pd.DataFrame(Lisbon_2ndPrivate)

### Save a backup

In [48]:
# Lisbon_2ndPublic.to_csv('Lisbon_2ndPublic.csv')
# Lisbon_2ndPrivate.to_csv('Lisbon_2ndPrivate.csv')

In [49]:
Lisbon_2ndPublic = pd.read_csv('Lisbon_2ndPublic.csv', index_col=0)
Lisbon_2ndPrivate = pd.read_csv('Lisbon_2ndPrivate.csv', index_col=0)

### Creating 'Acess' and 'Stage' columns to identify rows as 2nd/3d Cicle and Public/Private

In [50]:
Lisbon_2ndPublic['Access'] = 'Public'
Lisbon_2ndPublic['Stage'] = 'Second'

Lisbon_2ndPrivate['Access'] = 'Private'
Lisbon_2ndPrivate['Stage'] = 'Second'

### Rename Columns to Concat

In [51]:
Lisbon_2ndPublic.rename(columns={'NOME_ESCOLA': 'Name', 'MORADA': 'Address', 'FREGUESIA12': 'Area', 'INF_SITE': 'Website'}, inplace=True)
Lisbon_2ndPrivate.rename(columns={'INF_NOME': 'Name', 'INF_MORADA': 'Address', 'FREGUESIA': 'Area', 'SITE': 'Website'}, inplace=True)

### Drop useless columns by creating subsets of needed data

In [55]:
needed_columns = ['Name', 'Area', 'GlobalID', 'geometry', 'Access', 'Stage']

Lisbon_2ndPublic = Lisbon_1stPublic[needed_columns]
Lisbon_2ndPrivate = Lisbon_1stPrivate[needed_columns]

### Creating new columns order

In [56]:
new_order = ['Name', 'Area', 'GlobalID','geometry', 'Access', 'Stage']

Lisbon_2ndPublic = Lisbon_2ndPublic[new_order]
Lisbon_2ndPrivate = Lisbon_2ndPrivate[new_order]

## High School Public/Private

In [57]:
# Public
high_public_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/1/query?outFields=*&where=1%3D1&f=geojson'

response = requests.get(high_public_url)
response.raise_for_status()

Lisbon_HSchool_Public = gpd.read_file(response.text)
Lisbon_HSchool_Public = pd.DataFrame(Lisbon_HSchool_Public)

#Private
high_private_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/POIEducacao/FeatureServer/7/query?outFields=*&where=1%3D1&f=geojson'

response = requests.get(high_private_url)
response.raise_for_status()

Lisbon_HSchool_Private  = gpd.read_file(response.text)
Lisbon_HSchool_Private = pd.DataFrame(Lisbon_HSchool_Private)

### Save a backup

In [58]:
Lisbon_HSchool_Public.to_csv('Lisbon_HSchool_Public.csv')
Lisbon_HSchool_Private.to_csv('Lisbon_HSchool_Private.csv')

### Creating 'Acess' and 'Stage' columns to identify rows as High School and Public/Private

In [59]:
Lisbon_HSchool_Public['Access'] = 'Public'
Lisbon_HSchool_Public['Stage'] = 'Second'

Lisbon_HSchool_Private['Access'] = 'Private'
Lisbon_HSchool_Private['Stage'] = 'HighSchool'

### Rename Columns to Concat

In [60]:
Lisbon_HSchool_Public.rename(columns={'INF_NOME': 'Name', 'INF_MORADA': 'Address', 'FREGUESIA': 'Area', 'INF_SITE': 'Website'}, inplace=True)
Lisbon_HSchool_Private.rename(columns={'INF_NOME': 'Name', 'INF_MORADA': 'Address', 'FREGUESIA': 'Area', 'INF_SITE': 'Website'}, inplace=True)

### Drop useless columns by creating subsets of needed data

In [61]:
needed_columns = ['Name', 'Area', 'GlobalID', 'geometry', 'Access', 'Stage']

Lisbon_HSchool_Public = Lisbon_1stPublic[needed_columns]
Lisbon_HSchool_Private = Lisbon_1stPrivate[needed_columns]

### Creating new columns order

In [62]:
new_order = ['Name', 'Area', 'GlobalID','geometry', 'Access', 'Stage']
Lisbon_HSchool_Public = Lisbon_HSchool_Public[new_order]
Lisbon_HSchool_Private = Lisbon_HSchool_Private[new_order]

## College Public/Private

In [63]:
uni_url = 'https://services.arcgis.com/1dSrzEWVQn5kHHyK/arcgis/rest/services/MapaConhecimento/FeatureServer/1/query?where=1%3D1&outFields=*&f=pgeojson'

response = requests.get(uni_url)
response.raise_for_status() 

uni_all  = response.json()

Lisbon_AllUni = gpd.GeoDataFrame.from_features(uni_all['features'])

Lisbon_AllUni = pd.DataFrame(Lisbon_AllUni)

### Save a backup

In [64]:
# Lisbon_AllUni.to_csv('Lisbon_AllUni.csv')

In [65]:
Lisbon_AllUni = pd.read_csv('Lisbon_AllUni.csv', index_col=0)

### Creating 'Acess' and 'Stage' columns to identify rows as Universities and All types

In [66]:
Lisbon_AllUni['Access'] = 'All'
Lisbon_AllUni['Stage'] = 'Uni'

### Rename Columns to Concat

In [67]:
Lisbon_AllUni.rename(columns={'NOME': 'Name', 'MORADA': 'Address', 'SITE': 'Website'}, inplace=True)
Lisbon_AllUni['Area'] = 'NaN'

### Drop useless columns by creating subsets of needed data

In [68]:
columns_to_drop_uni = ['OBJECTID', 'COD_SIG', 'IDTIPO', 'Address', 'ATORTIPOCODIGO', 'EMAIL', 'Website', 'REDESOCIAL', 'REDESOCIAL']
Lisbon_AllUni.drop(columns_to_drop_uni, axis=1, inplace=True)

### Creating new columns order

In [69]:
needed_columns = ['Name', 'Area', 'GlobalID', 'geometry', 'Access', 'Stage']
Lisbon_AllUni = Lisbon_AllUni[new_order]

# Educational Dataframe

## Check Common Columns for Concat

In [71]:
edu_list = [Lisbon_PrePublic, Lisbon_1stPrivate, Lisbon_1stPublic, Lisbon_2ndPrivate, Lisbon_2ndPublic, Lisbon_HSchool_Public, Lisbon_HSchool_Private, Lisbon_AllUni]

common_columns = set(edu_list[0].columns)
for df in edu_list[1:]:
    common_columns.intersection_update(df.columns)

print(f"Common columns: {common_columns}")

Common columns: {'Name', 'Access', 'geometry', 'Area', 'GlobalID', 'Stage'}

## Concat Dataframes

In [72]:
Lisbon_Education = pd.concat(edu_list)
Lisbon_Education

,Name,Area,GlobalID,geometry,Access,Stage
0,Escola Profissional Metropolitana de Lisboa,Alcântara,707e37d5-e1b5-45fc-85f8-cc7095308431,POINT (-9.18158997715356 38.699297532228),Public,Pre-School
1,Conservatório Metropolitano de Música de Lisboa,Alcântara,83edfbca-6558-460e-93d1-0475467960a1,POINT (-9.1813018524282 38.6993993202234),Public,Pre-School
2,Academia de Música de Luisboa - Os Violinos,Belém,a421d20f-eb13-4126-a30c-2158b07fe2fd,POINT (-9.1944372593028 38.7001317342682),Public,Pre-School
3,Acordarte - Academia de Música de Lisboa,Belém,24aa8435-1660-4cdd-a993-5113daefd230,POINT (-9.1944372593028 38.7001317342682),Public,Pre-School
4,Escola Profissional de Imagem (ETIC),Misericórdia,049de07d-4405-4a0f-8946-4ddce0c71d28,POINT (-9.14745713248909 38.7078031160822),Public,Pre-School
...,...,...,...,...,...,...
80,ue | Universidade Europeia - FCSD (Faculdade d...,NaN,bd396f8b-c726-4df0-aa96-b6714df4c562,POINT (-9.18365790945365 38.7650161641021),All,Uni
81,ue | Universidade Europeia - FCES (Faculdade d...,NaN,fd0bce17-613a-4c5a-96a6-b55b17478aa9,POINT (-9.19368269569772 38.7600490654187),All,Uni
82,UNL | NOVA IMS - NOVA Information Management S...,NaN,4515c8c1-81ec-4ba6-be95-79b575a776c7,POINT (-9.16030254570311 38.7325791296909),All,Uni
83,UNL | ITQB NOVA - Instituto de Tecnologia Quím...,NaN,23ef0db1-af6f-4549-a281-1e9196115849,POINT (-9.32163033090969 38.6959016232198),All,Uni
84,UNL | NOVA SBE - NOVA School of Business and E...,NaN,f899d7ef-4f87-45d3-a313-59032111672f,POINT (-9.32687908021529 38.6790668730302),All,Uni

### Save a backup

In [73]:
# Lisbon_Education.to_csv('Lisbon_Education.csv')

In [74]:
Lisbon_Education = pd.read_csv('Lisbon_Education.csv', index_col=0)

# Educational Dataframe - Data Preprocessing

## Check Duplicates

In [75]:
duplicates = Lisbon_Education.duplicated(subset=['GlobalID', 'geometry'])
print("Duplicate rows based on columns 'GlobalID' and 'geometry':")
print(Lisbon_Education[duplicates])

Duplicate rows based on columns 'GlobalID' and 'geometry':
                                Name                     Area  \
0             Colégio do Bom Sucesso                    Belém
1            Externato Alfredo Binet                    Belém
2              Cooperativa "A Torre"                    Belém
3            Externato "A Escolinha"                    Belém
4   Externato "Santa Maria de Belém"                    Belém
..                               ...                      ...
94                 Colégio Place4all         Campo de Ourique
95           Escola Casa da Floresta  São Domingos de Benfica
96              Colégio "O Pelicano"                  Areeiro
97                   Colégio Oriente        Parque das Nações
98           Externato Alfredo Binet                    Belém

                                GlobalID  \
0   15cf71ac-1d1e-46d7-a0e7-7f09140d06c2
1   d693914b-1dc3-42a8-9a06-379bfaf954e2
2   91d9dfd8-af85-4f8e-a585-a102fea77d2f
3   87fd77ee-86ab-45eb-b364-d647ff140be3
4   a78b3476-9d5d-426d-b473-3d609519ec20
..                                   ...
94  39b2e432-fcef-4a6e-a8c8-b4c2c6ad76b7
95  c773fd6b-a5b5-4d78-86ed-57b8db7e1312
96  98ea1100-da04-4a87-9629-b5929ceab838
97  c65f3a5b-7b97-488f-920e-14bc075e0f1f
98  7bd4a9dd-53e4-4a15-8ab8-d50dca41aa0e

                                      geometry   Access   Stage
0   POINT (-9.21105689438628 38.6955782682932)  Private  Second
1   POINT (-9.21648434759652 38.6955752152856)  Private  Second
2    POINT (-9.21772663433867 38.696308410493)  Private  Second
3   POINT (-9.22490182183578 38.6973174716166)  Private  Second
4     POINT (-9.218970594513 38.6976975852239)  Private  Second
..                                         ...      ...     ...
94  POINT (-9.15943141044866 38.7190109355678)  Private   First
95  POINT (-9.18146630252574 38.7393366470239)  Private   First
96  POINT (-9.12924495832367 38.7378614827801)  Private   First
97  POINT (-9.09719419748507 38.7855321898204)  Private   First
98   POINT (-9.2134856896976 38.7046068076399)  Private   First

[362 rows x 6 columns]

## Drop duplicates

In [76]:
Lisbon_Education = Lisbon_Education.drop_duplicates(subset=['GlobalID', 'geometry'])

## Check nulls

In [77]:
Lisbon_Education['geometry'].isnull().sum()

2

## Drop nulls

In [78]:
Lisbon_Education = Lisbon_Education.dropna(subset=['geometry']).reset_index(drop=True)

In [79]:
Lisbon_Education['geometry'].isnull().sum()

0

## Transform the 'geometry' column to Shapely Point objects to subsequently extract latitude and longitude

In [80]:
Lisbon_Education['geometry'] = Lisbon_Education['geometry'].apply(wkt.loads)

In [84]:
Lisbon_Education[['latitude', 'longitude']] = Lisbon_Education['geometry'].apply(extract_lat_long)

In [86]:
Lisbon_Education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       300 non-null    object
 1   Area       215 non-null    object
 2   GlobalID   300 non-null    object
 3   geometry   300 non-null    object
 4   Access     300 non-null    object
 5   Stage      300 non-null    object
 6   latitude   300 non-null    float64
 7   longitude  300 non-null    float64
dtypes: float64(2), object(6)
memory usage: 18.9+ KB

# Me

## Function to calculate distances with latitude and longitude features

<html>
<p><strong>Great Circle Distance Formula:</strong></p>
<p>The formula to calculate the great circle or 'as the crow flies' distance between two points on the Earth's surface, given their latitude and longitude is:</p>
<p style="font-family: 'Lucida Console', Monaco, monospace;">
  \( d = 2R \times \sin^{-1}\left(\sqrt{\sin^2\left(\frac{\theta_2 - \theta_1}{2}\right) + \cos \theta_1 \times \cos \theta_2 \times \sin^2\left(\frac{\phi_2 - \phi_1}{2}\right)}\right) \)
</p>
<p>where:</p>
<ul>
  <li><strong>\( (\theta_1, \phi_1) \)</strong> and <strong>\( (\theta_2, \phi_2) \)</strong> – Coordinates of each point (latitude and longitude, respectively);</li>
  <li><strong>R</strong> – Radius of the Earth; and</li>
  <li><strong>d</strong> – Great circle distance between the points.</li>
</l>
</html>

In [87]:
def haversine(lat1, lon1, lat2, lon2):
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    R = 6371.0
    distance = R * c
    
    return distance

### We decided to define a threshold of 1.5 km

In [88]:
dist_threshold = 1.5

### Calculate Distances between each Property and each Metro Station and add them to Lisbon_Properties Dataframe

In [111]:
distances = []

for p_index, p_row in Lisbon_Properties.iterrows():
    count_nearby_stations = 0
    for m_index, m_row in Lisbon_Metro.iterrows():
        distance = haversine(p_row['Latitude'], p_row['Longitude'], m_row['Lat.'], m_row['Long.'])
        if distance < dist_threshold:
            count_nearby_stations += 1
        distances.append({
            'property_id': p_row['id'],
            #'property_title': p_row['title'],
            'metro_station': m_row['Nome'],
            'distance_km': distance
        })
    Lisbon_Properties.at[p_index, 'Stations_within_1.5km'] = count_nearby_stations

In [112]:
Distances_df = pd.DataFrame(distances)

In [113]:
Distances_df.head()

   property_id     metro_station  distance_km
0          0.0         Aeroporto     2.817243
1          0.0           Alameda     1.219446
2          0.0           Alameda     1.303829
3          0.0        Alfornelos     5.597536
4          0.0  Alto dos Moinhos     3.280310

### Convert 'property_id' to integer

In [114]:
Distances_df['property_id'] = Distances_df['property_id'].apply(lambda x: int(x))

### Example: Distances of property_id = 1 to each metro station

In [115]:
Distances_df.loc[Distances_df['property_id'] == 0]

    property_id          metro_station  distance_km
0             0              Aeroporto     2.817243
1             0                Alameda     1.219446
2             0                Alameda     1.303829
3             0             Alfornelos     5.597536
4             0       Alto dos Moinhos     3.280310
5             0               Alvalade     0.828164
6             0           Amadora Este     6.693329
7             0             Ameixoeira     4.020537
8             0                  Anjos     2.173306
9             0                Areeiro     0.871611
10            0                Arroios     1.622362
11            0                Avenida     2.928925
12            0           Baixa-Chiado     3.923450
13            0           Baixa-Chiado     3.918121
14            0             Bela Vista     2.175546
15            0             Cabo Ruivo     3.779461
16            0          Cais do Sodré     4.424180
17            0           Campo Grande     2.072846
18            0           Campo Grande     2.090133
19            0          Campo Pequeno     0.655688
20            0                Carnide     4.593104
21            0                 Chelas     2.682182
22            0   Cidade Universitária     1.572068
23            0  Colégio Militar / Luz     4.128198
24            0             Encarnação     4.012175
25            0           Entre Campos     0.511355
26            0             Intendente     2.586269
27            0       Jardim Zoológico     2.296635
28            0            Laranjeiras     2.614191
29            0                 Lumiar     3.402996
30            0      Marquês de Pombal     2.453077
31            0      Marquês de Pombal     2.414887
32            0           Martim Moniz     3.191054
33            0              Moscavide     4.725537
34            0               Odivelas     5.913613
35            0                 Olaias     1.786930
36            0                Olivais     3.151000
37            0                Oriente     4.467416
38            0                 Parque     1.992383
39            0                 Picoas     1.749760
40            0               Pontinha     5.048616
41            0       Praça de Espanha     1.697648
42            0     Quinta das Conchas     2.655555
43            0                   Rato     3.035806
44            0              Reboleira     7.104077
45            0          Restauradores     3.318218
46            0                   Roma     0.264876
47            0                 Rossio     3.550002
48            0               Saldanha     1.247269
49            0               Saldanha     1.181822
50            0         Santa Apolónia     3.968120
51            0          São Sebastião     1.623514
52            0          São Sebastião     1.504118
53            0         Senhor Roubado     5.109538
54            0              Telheiras     2.603417
55            0       Terreiro do Paço     4.362364

In [118]:
Lisbon_Properties.head()

,id,Extra_Rooms,Extra_Rooms_Flag,N_Rooms,Total_N_Rooms,Price,Area_m2,N_Extras,Extras_Flag,Latitude,...,Casa,Duplex,Estúdio,Flat,Loft,Moradia,Palacete,Penthouse,Quinta,stations_within_1.5km
0,0,0,0,2,2,430000,90,0,0,38.745739,...,0,0,0,0,0,0,0,0,0,9.0
1,1,0,0,1,1,269900,97,0,0,38.751710,...,0,0,0,0,0,0,0,0,0,4.0
2,2,0,0,3,3,399900,120,0,0,38.746570,...,0,0,0,0,0,0,0,0,0,4.0
3,3,0,0,2,2,285000,55,0,0,38.714710,...,0,0,0,0,0,0,0,0,0,11.0
4,4,0,0,1,1,690000,93,1,1,38.710780,...,0,0,0,0,0,0,0,0,0,9.0

### Converting Stations_within_1.5km to integer

In [119]:
Lisbon_Properties['Stations_within_1.5km'] = Lisbon_Properties['Stations_within_1.5km'].apply(lambda x: int(x))

## Calculate the number of cultural facilities in a 1.5Km radius

In [151]:
dist_threshold_2 = 1.5

cult_distances = []

for p_index, p_row in Lisbon_Properties.iterrows():
    count_nearby_cult = 0
    for c_index, c_row in Lisbon_Culture.iterrows():
        distance = haversine(p_row['Latitude'], p_row['Longitude'], c_row['latitude'], c_row['longitude'])
        if distance < dist_threshold_2:
            count_nearby_cult += 1
        cult_distances.append({
            'property_id': p_row['id'],
            'Name': c_row['INF_NOME'],
            'Area': c_row['FREGUESIA'],
            'distance_km': distance
        })
    Lisbon_Properties.at[p_index, 'Cultural_fac_within_1.5km'] = count_nearby_cult

Cult_Distances_df = pd.DataFrame(cult_distances)

Cult_Distances_df.head()

,property_id,Name,Area,distance_km
0,0.0,Museu de Arte Popular,Belém,8.123650
1,0.0,Museu Coleção Berardo,Belém,7.927054
2,0.0,"MAAT - Museu de Arte, Arquitetura e Tecnologia",Belém,7.085770
3,0.0,Museu Nacional dos Coches,Belém,7.283127
4,0.0,Museu de Marinha,Belém,7.907485

In [153]:
Lisbon_Properties.head()

,id,Extra_Rooms,Extra_Rooms_Flag,N_Rooms,Total_N_Rooms,Price,Area_m2,N_Extras,Extras_Flag,Latitude,...,Duplex,Estúdio,Flat,Loft,Moradia,Palacete,Penthouse,Quinta,stations_within_1.5km,cultural_fac_within_1.5km
0,0,0,0,2,2,430000,90,0,0,38.745739,...,0,0,0,0,0,0,0,0,9,42.0
1,1,0,0,1,1,269900,97,0,0,38.751710,...,0,0,0,0,0,0,0,0,4,8.0
2,2,0,0,3,3,399900,120,0,0,38.746570,...,0,0,0,0,0,0,0,0,4,16.0
3,3,0,0,2,2,285000,55,0,0,38.714710,...,0,0,0,0,0,0,0,0,11,96.0
4,4,0,0,1,1,690000,93,1,1,38.710780,...,0,0,0,0,0,0,0,0,9,106.0

## Converting Cultural_fac_within_1.5km to integer

In [154]:
Lisbon_Properties['Cultural_fac_within_1.5km'] = Lisbon_Properties['Cultural_fac_within_1.5km'].apply(lambda x: int(x))

In [156]:
dist_threshold_3 = 1.5

edu_distances = []

for p_index, p_row in Lisbon_Properties.iterrows():
    count_nearby_edu = 0
    for m_index, m_row in Lisbon_Education.iterrows():
        distance = haversine(p_row['Latitude'], p_row['Longitude'], m_row['latitude'], m_row['longitude'])
        if distance < dist_threshold_3:
            count_nearby_edu += 1
        edu_distances.append({
            'property_id': p_row['id'],
            'Name': m_row['Name'],
            'Area': m_row['Area'],
            'distance_km': distance
        })
    Lisbon_Properties.at[p_index, 'Edu_within_1.5km'] = count_nearby_edu

Edu_distances_df = pd.DataFrame(edu_distances)

Edu_distances_df

,property_id,Name,Area,distance_km
0,0.0,Escola Profissional Metropolitana de Lisboa,Alcântara,6.173723
1,0.0,Conservatório Metropolitano de Música de Lisboa,Alcântara,6.150574
2,0.0,Academia de Música de Luisboa - Os Violinos,Belém,6.778580
3,0.0,Acordarte - Academia de Música de Lisboa,Belém,6.778580
4,0.0,Escola Profissional de Imagem (ETIC),Misericórdia,4.239379
...,...,...,...,...
393595,1436.0,ue | Universidade Europeia - FCSD (Faculdade d...,NaN,5.229345
393596,1436.0,ue | Universidade Europeia - FCES (Faculdade d...,NaN,5.590179
393597,1436.0,UNL | NOVA IMS - NOVA Information Management S...,NaN,1.846459
393598,1436.0,UNL | ITQB NOVA - Instituto de Tecnologia Quím...,NaN,16.380897
393599,1436.0,UNL | NOVA SBE - NOVA School of Business and E...,NaN,17.382137

## Converting Edu_within_1.5km to integer

In [157]:
Lisbon_Properties['Edu_within_1.5km'] = Lisbon_Properties['Edu_within_1.5km'].apply(lambda x: int(x))

In [159]:
Lisbon_Properties.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1312 entries, 0 to 1330
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1312 non-null   int64
 1   Extra_Rooms                1312 non-null   int64
 2   Extra_Rooms_Flag           1312 non-null   int64
 3   N_Rooms                    1312 non-null   int64
 4   Total_N_Rooms              1312 non-null   int64
 5   Price                      1312 non-null   int64
 6   Area_m2                    1312 non-null   int64
 7   N_Extras                   1312 non-null   int64
 8   Extras_Flag                1312 non-null   int64
 9   Latitude                   1312 non-null   float64
 10  Longitude                  1312 non-null   float64
 11  Último andar               1312 non-null   int64
 12  Piscina                    1312 non-null   int64
 13  Rés do chão                1312 non-null   int64
 14  De luxo                    1312 non-null   int64
 15  Com garagem                1312 non-null   int64
 16  Vista para mar             1312 non-null   int64
 17  Com elevador               1312 non-null   int64
 18  Ajuda                      1312 non-null   int32
 19  Alcântara                  1312 non-null   int32
 20  Alvalade                   1312 non-null   int32
 21  Areeiro                    1312 non-null   int32
 22  Arroios                    1312 non-null   int32
 23  Avenidas Novas             1312 non-null   int32
 24  Beato                      1312 non-null   int32
 25  Belém                      1312 non-null   int32
 26  Benfica                    1312 non-null   int32
 27  Campo de Ourique           1312 non-null   int32
 28  Campolide                  1312 non-null   int32
 29  Carnide                    1312 non-null   int32
 30  Estrela                    1312 non-null   int32
 31  Lumiar                     1312 non-null   int32
 32  Marvila                    1312 non-null   int32
 33  Misericórdia               1312 non-null   int32
 34  Olivais                    1312 non-null   int32
 35  Parque das Nações          1312 non-null   int32
 36  Penha de França            1312 non-null   int32
 37  Santa Clara                1312 non-null   int32
 38  Santa Maria Maior          1312 non-null   int32
 39  Santo António              1312 non-null   int32
 40  São Domingos de Benfica    1312 non-null   int32
 41  São Vicente                1312 non-null   int32
 42  Apartamento                1312 non-null   int32
 43  Casa                       1312 non-null   int32
 44  Duplex                     1312 non-null   int32
 45  Estúdio                    1312 non-null   int32
 46  Flat                       1312 non-null   int32
 47  Loft                       1312 non-null   int32
 48  Moradia                    1312 non-null   int32
 49  Palacete                   1312 non-null   int32
 50  Penthouse                  1312 non-null   int32
 51  Quinta                     1312 non-null   int32
 52  stations_within_1.5km      1312 non-null   int64
 53  cultural_fac_within_1.5km  1312 non-null   int64
 54  Edu_within_1.5km           1312 non-null   int64
dtypes: float64(2), int32(34), int64(19)
memory usage: 432.0 KB

# Liner Regression Model

Since we will now apply a linear regression model in order to predict prices for properties based on their features, we can now exclude Latitude and Longitude of each property

In [161]:
Lisbon_Properties.drop(['Latitude','Longitude'], axis=1, inplace=True)